{
  "DisplayName": "Bootstrap 3 (Obsolete)",
  "UiLibrary": "BS3",

  // Paths can be:
  //   - relative to template folder, for example js/some.js
  //   - relative to website root, for example ~/js/some.js or /js/some.js (the tilda is important when running in an IIS virtual dir)
  //   - relative to shared resources, for example [SharedUrl]/js/some.js
  "JsIncludes": ["script.js"],

  "CssIncludes": [
    "[commonUrl]/bootstrap341/css/bootstrap.min.css",
    "styles.min.css"
  ],

  "RootClass": "bstrap30"
}
