@media (max-width: 767px) {
	.subNavLeftMenu 
	{
		width: 100%;
	}
	.subNavLeftMenuTitle
	{
		display: none;
	}
	
	.subNavLeftMenu li[class*=menuLevel]
	{
		clear: both;
		list-style: none outside none;
		margin-bottom: 2px;
		margin-top: 2px;
		position: relative;
		padding: 0;
		border-top: 0;
	}
	
	.subNavLeftMenu li.menuLevel2
	{
		padding-left: 20px;		
	}
	
	.subNavLeftMenu li.menuLevel3
	{
		padding-left: 20px;		
	}
		
	.subNavLeftMenu li[class*=menuLevel] > a
	{
		background: url("images/mobile-arrow.png") no-repeat scroll 95% 50% / 22px 22px #99CC33;
		border-radius: 4px;
		color: #FFFFFF;
		display: block;
		font-family: Geneva,Arial,Helvetica,sans-serif;
		font-size: 20px;		
		line-height: 24px;
		padding: 10px 70px 10px 10px;
		text-decoration: none;
	}
	
	.subNavLeftMenu li[class*=menuLevel] > a:hover
	{
		color: #FFFFFF;
	}
	
	.subNavLeftMenu li.menuLevel2 > a
	{
		padding-right: 20px;
	}
	.subNavLeftMenu li.menuLevel3 > a
	{
		padding-right: 40px;
	}
	
	.subNavLeftMenu li[class*=menuLevel].hasChild > a 
	{
		background-image: none;
	}
	
	.subNavLeftMenu li[class*=menuLevel] .expanded
	{
		background: none;
		/*border: 1px solid #D2D2D2;
		border-radius: 4px;*/
		cursor: pointer;
		float: left;
		height: 32px;
		position: absolute;
		right: 3%;
		top: 5px;
		width: 40px;
		z-index: 999;
		margin-top: 0;
	}
	
	.subNavLeftMenu li[class*=menuLevel] .expanded .navicon 
	{
		border-bottom: 4px solid #FFFFFF;
		border-top: 12px double #FFFFFF;
		float: left;
		font-size: 0;
		height: 4px;
		margin: 6px 0 0 6px;
		width: 24px;
	}
	
	.subNavLeftMenu li[class*=menuLevel] > span.expanded
	{
		margin-top: 0;
	}
	
	.subNavLeftMenu li.selected > a, 
	.subNavLeftMenu li.selected:hover > a
	{
		color: #3F7DB4;
	}
}