[{
    "Title": "Button Group",
    "Name": "button-group",
    "Categories": [
      "Buttons"
    ],
    "HelpText": {
      "default": "Use the Button Group when you have multiple buttons and need to align them together."
    },
    "TypeStr": "avt.ActionForm.Core.Input.ButtonGroup,avt.ActionForm.Core",
    "Parameters": [
      {
        "Id": "ButtonAlign",
        "Title": {
          "default": "Button Align"
        },
        "HelpText": {
          "default": "Determines the alignment of the button."
        },
        "DefaultValue": {
          "default": "center"
        },
        "Type": "Select",
        "Settings": {
          "Items": {
            "left": {
              "default": "Left"
            },
            "center": {
              "default": "Center"
            },
            "right": {
              "default": "Right"
            }
          }
        }
      },
      {
        "Id": "ButtonsList",
        "Title": {
          "default": "Buttons"
        },
        "DefaultValue": {
          "default": "[]"
        },
        "Type": "MultipleFieldSelect",
        "Settings": {
          "FieldType": [
            "button",
            "image-button"
          ]
        }
      }
    ],
    "Settings": {
      "HasInputValidation": "false",
      "HasValue": "false"
    }
  }]