  [{
    "Title": "Checkbox List",
    "Name": "closed-multiple-checkbox",
    "Categories": [
      "Multiple Choice"
    ],
    "HelpText": {
      "default": "Allows users to select a value from a list. On submit, this field will generate the following tokens: [&lt;FieldName&gt;] (which yields the value), [&lt;FieldName&gt;:Text], [&lt;FieldName&gt;:Value], [&lt;FieldName&gt;:JsonArray]. Note that if your options don't have a value (there's nothing after the pipe character in the list below), then all the tokens above will return same value."
    },
    "TypeStr": "avt.ActionForm.Core.Input.MultipleChoiceMultiSelect,avt.ActionForm.Core",
    "Flags": [
      "checkbox"
    ],
    "Parameters": [
      {
        "Id": "Value",
        "Title": {
          "default": "Initially Checked"
        },
        "HelpText": {
          "default": "Determines which of the check boxes are initially selected. Possible values are from the list above. Separate multiple values with semicolon (;) characters. Supports Tokens so you can pull data from various sources such as user profile."
        },
        "Type": "Text"
      },
      {
        "Id": "Horizontal",
        "Title": {
          "default": "Display Horizontally"
        },
        "HelpText": {
          "default": "Turn on this option to display checkboxes next to one another on the same line."
        },
        "DefaultValue": {
          "default": "false"
        },
        "Type": "Boolean"
      },
      {
        "Id": "ToggleSwitch",
        "Title": {
          "default": "Toggle Switch"
        },
        "HelpText": {
          "default": "Check this to transform the checkbox into a toggle switch."
        },
        "Type": "Boolean"
      },
      {
        "Id": "LinkTo",
        "Title": {
          "default": "Link to"
        },
        "HelpText": {
          "default": "Link this to another multi-select field that when changed will cause this control to update with different items. For example, imagine Category and Subcategory selection. When this option is used, prefix each item below with the name of the parent category like this: \"Value Of Parent Item/This Item\""
        },
        "DefaultValue": {
          "default": "[]"
        },
        "Type": "MultipleFieldSelect",
        "Settings": {
          "FieldType": [
            "closed-multiple-dropdown",
            "closed-multiple-radio",
            "closed-multiple-checkbox",
            "dropdown-checkboxes",
            "dropdown-autocomplete"
          ]
        }
      },
      {
        "Id": "DataSource",
        "Title": {
          "default": "Data Source"
        },
        "HelpText": {
          "default": "Choose from existing data sources or provide values below."
        },
        "DefaultValue": {
          "default": "{ \"Value\": \"Items\", \"Items\": \"First Item\\nSecond Item|WithDifferentValue\" }"
        },
        "Type": "Select",
        "Settings": {
          "DataSource": "FrontEndDataSources"
        }
      },
      {
        "Id": "Legend",
        "Title": {
          "default": "Checkbox Group Legend"
        },
        "HelpText": {
          "default": "Here you can write the content for the <a href=\"https://developer.mozilla.org/en-US/docs/Web/HTML/Element/legend\" target=\"_blank\" tabindex=\"-1\">legend</a> html element <br/>\r\nBe careful! Completing this field will enable the legend html element which comes with specific CSS styles which you can customize below."
        },
        "Type": "Text"
      },
      {
        "Id": "FieldsetStyles",
        "Title": {
          "default": "Fieldset CSS Styles"
        },
        "Type": "Text",
        "Settings": {
          "ShowCondition": "itemParameters[\"Legend\"]"
        }
      },
      {
        "Id": "FieldsetClasses",
        "Title": {
          "default": "Fieldset CSS Classes"
        },
        "HelpText": {
          "default": "Input classes separated by space"
        },
        "Type": "Text",
        "Settings": {
          "ShowCondition": "itemParameters[\"Legend\"]"
        }
      },
      {
        "Id": "LegendStyles",
        "Title": {
          "default": "Legend CSS Styles"
        },
        "Type": "Text",
        "Settings": {
          "ShowCondition": "itemParameters[\"Legend\"]"
        }
      },
      {
        "Id": "LegendClasses",
        "Title": {
          "default": "Legend CSS Classes"
        },
        "HelpText": {
          "default": "Input classes separated by space"
        },
        "Type": "Text",
        "Settings": {
          "ShowCondition": "itemParameters[\"Legend\"]"
        }
      },
      {
        "Id": "SaveToReport",
        "Title": {
          "default": "Save to Report"
        },
        "HelpText": {
          "default": "The field will be saved in Reports. If Enable Reports from General settings is not checked, this will be overridden."
        },
        "DefaultValue": {
          "default": "false"
        },
        "Type": "Boolean"
      }
    ],
    "Settings": {
      "IsCommon": true
    }
  }]