[
  {
    "Title": "Color Picker",
    "Name": "color-picker",
    "Categories": [
      "Single Choice"
    ],
    "JsIncludes": [
      "[commonurl]/static/jquery/jquery.inputmask.js",
      "[commonurl]/static/angular15/colorpicker/color-picker.min.js"
    ],
    "CssIncludes": [
      "[commonurl]/static/angular15/colorpicker/color-picker.min.css"
    ],
    "TypeStr": "avt.ActionForm.Core.Input.ColorPicker,avt.ActionForm.Core",
    "Parameters": [
      {
        "Id": "Value",
        "Title": {
          "default": "Initial Value"
        },
        "HelpText": {
          "default": "The format is a hash (#) followed by 6 numbers or letters from 0 to 9 and from A to F. The fields loads initially having this value. Supports Tokens so you can pull data from various sources such as user profile."
        },
        "Type": "Text"
      },
      {
        "Id": "SaveToReport",
        "Title": {
          "default": "Save to Report"
        },
        "HelpText": {
          "default": "The field will be saved in Reports. If Enable Reports from General settings is not checked, this will be overridden."
        },
        "DefaultValue": {
          "default": "false"
        },
        "Type": "Boolean"
      },
      {
        "Id": "Readonly",
        "Title": {
          "default": "Readonly"
        },
        "HelpText": {
          "default": "The field will be Readonly."
        },
        "DefaultValue": {
          "default": "false"
        },
        "Type": "Boolean"
      }
    ],
    "Settings": {
      "IsCommon": true
    }
  }
]
