[
  {
    "Title": "Currency",
    "Name": "currency-v2",
    "Categories": [
      "Text"
    ],
    "JsIncludes": [
      "[commonUrl]/static/angular15/currency-v2/autoNumeric.min.js",
      "[commonUrl]/static/angular15/currency-v2/ng-currency-v2.js"
    ],
    "TypeStr": "avt.ActionForm.Core.Input.Currency,avt.ActionForm.Core",
    "Settings": {
      "TemplateFile": "controls/currency.xsl"
    },
    "HelpText": {
      "default": "Displays a floating point value as a currency amount. Tokens generated: <b>[&lt;FieldName&gt;]</b> - &lt;rawAmount&gt;, e.g. 1000.05, <b>[&lt;FieldName&gt;:Currency]</b> - &lt;currency&gt;, e.g. USD, <b>[&lt;FieldName&gt;:CurrencySymbol]</b> - &lt;currencySymbol&gt;, e.g. $, <b>[&lt;FieldName&gt;:Precision]</b> - &lt;precision&gt;, e.g. 2, <b>[&lt;FieldName&gt;:Formatted]</b> - &lt;currency&gt; &lt;formattedAmount&gt;, e.g. USD 1.000,05"
    },
    "Parameters": [
      {
        "Id": "Value",
        "Title": {
          "default": "Initial Amount"
        },
        "Type": "Text",
        "DefaultValue": {
          "default": ""
        },
        "HelpText": {
          "default": "The field will initialize with the value specified here. Supports Tokens so you can pull data from various sources."
        }
      },
      {
        "Id": "InitialCurrency",
        "Type": "Select",
        "Title": {
          "default": "Initial Currency"
        },
        "HelpText": {
          "default": "When more than one currency is specified, the field will initialize with the currency specified here. Supports Tokens so you can pull data from various sources."
        },
        "DefaultValue":{
          "default": "USD"
        },
        "Settings": {
          "DataSource": "Currency",
          "SupportsExpressions": "true"
        },
        "IsPublic": true
      },
      {
        "Id": "AvailableCurrencies",
        "Title": {
          "default": "Available Currencies"
        },
        "HelpText": {
          "default": "Add one or more currencies. Having more than one will make the front end show a dropdown for the user to pick."
        },
        "Type": "Grid",
        "Settings": {
          "ShowCondition": "false",
          "ButtonName": "Add Currency",
          "Columns": [
            {
              "Id": "Name",
              "Title": {
                "default": "Name"
              },
              "Type": "Select",
              "Settings": {
                "DataSource": "Currency",
                "SupportsExpressions": "true",
                "ColSize": 4
              }
            }
          ]
        }
      },
      {
        "Id": "CurrencyPosition",
        "Type": "Select",
        "Title": {
          "default": "Currency symbol position"
        },
        "Settings": {
          "Items": {
            "before": {
              "default": "Before amount"
            },
            "after": {
              "default": "After amount"
            }
          },
          "SupportsExpressions": "true"
        },
        "DefaultValue": {
          "default": "before"
        },
        "IsPublic": true
      },
      {
        "Id": "CurrencySymbol",
        "Type": "Select",
        "Title": {
          "default": "Currency symbol"
        },
        "Settings": {
          "Items": {
            "symbol": {
              "default": "Symbol"
            },
            "narrowSymbol": {
                "default": "Narrow Symbol"
            },
            "letters": {
              "default": "Three letter code"
            }
          },
          "SupportsExpressions": "true"
        },
        "DefaultValue": {
          "default": "symbol"
        },
        "IsPublic": true
      },
      {
        "Id": "Precision",
        "Title": {
          "default": "Precision"
        },
        "Type": "Text",
        "DefaultValue": {
          "default": "2"
        },
        "HelpText": {
          "default": "How many decimal places are allowed. Can contain Tokens."
        },
        "IsPublic": true
      },
      {
        "Id": "NumberFormatLocaleSource",
        "Title": {
          "default": "Number Format"
        },
        "HelpText": {
          "default": "The selected language formatting conventions regarding thousands and decimal separators will be used."
        },
        "Type": "Select",
        "Settings": {
          "Items": {
            "browser": {
              "default": "Browser language"
            },
            "portal": {
              "default": "Portal language"
            },
            "user": {
              "default": "User profile language"
            },
            "manual": {
              "default": "Specific language"
            }
          },
          "SupportsExpressions": "true"
        },
        "DefaultValue": {
          "default": "browser"
        },
        "IsPublic": true
      },
      {
        "Id": "ManualNumberFormatLocaleCode",
        "Title": {
          "default": "Specific Language"
        },
        "HelpText": {
          "default": "Can contain form tokens (for example [Email]) and Tokens"
        },
        "Type": "Select",
        "Settings": {
          "DataSource": "Country",
          "SupportsExpressions": "true",
          "ShowCondition": "itemParameters['NumberFormatLocaleSource'].Value == 'manual'"
        },
        "IsPublic": true
      },
      {
        "Id": "MinimumEnforcedValue",
        "Type": "Select",
        "Title": {
          "default": "Minimum Enforced Value"
        },
        "HelpText": {
          "default": "When using Expression the supported values are 'negative', 'positive', 'strictlypositive'"
        },
        "Settings": {
          "Items": {
            "negative": {
              "default": "Allow Negative Values"
            },
            "positive": {
              "default": "Only Positive Values"
            },
            "strictlypositive": {
              "default": "Only Strictly Positive Values"
            }
          },
          "SupportsExpressions": "true"
        },
        "DefaultValue": {
          "default": "negative"
        },
        "IsPublic": true
      },
      {
        "Id": "SaveToReport",
        "Title": {
          "default": "Save to Report"
        },
        "Type": "Boolean",
        "DefaultValue": {
          "default": "false"
        },
        "HelpText": {
          "default": "The field will be saved in Reports. If Enable Reports from General settings is not checked, this will be overridden."
        }
      }
    ]
  }
]
