[
  {
    "Title": "Date And Time (Deprecated)",
    "Name": "date-and-time",
    "Categories": [
      "Date and Time"
    ],
    "JsIncludes": [
      "[commonurl]/static/angular15/i18n/angular-locale_[languagecode].js",
      "[commonurl]/static/jquery/jquery.inputmask.js"
    ],
    "HelpText": {
      "default": "Allows users to select date and/or time. On submit, this field will generate the following tokens: [<FieldName>] (which yields the value), [<FieldName>:Date], [<FieldName>:Day], [<FieldName>:Month], [<FieldName>:Year], [<FieldName>:DayOfMonth], [<FieldName>:DayOfYear], [<FieldName>:Time], [<FieldName>:Hour], [<FieldName>:Minute], [<FieldName>:Iso]"
    },
    "TypeStr": "avt.ActionForm.Core.Input.jQueryDatePicker,avt.ActionForm.Core",
    "Parameters": [
      {
        "Id": "Value",
        "Title": {
          "default": "Initial Value"
        },
        "HelpText": {
          "default": "Determines which item is initially selected. Supports Tokens so you can pull data from various sources such as user profile."
        },
        "Type": "Text"
      },
      {
        "Id": "PickerType",
        "Title": {
          "default": "DateTime Picker Type"
        },
        "DefaultValue": {
          "default": "MM/dd/yyyy HH:mm"
        },
        "Type": "Select",
        "Settings": {
          "Items": {
            "MM/dd/yyyy": {
              "default": "Date"
            },
            "HH:mm": {
              "default": "Time"
            },
            "MM/dd/yyyy HH:mm": {
              "default": "Date And Time"
            }
          }
        }
      },
      {
        "Id": "InlineMode",
        "Title": {
          "default": "Display Inline"
        },
        "HelpText": {
          "default": "If enabled, the date and/or time picker will be initially visible."
        },
        "DefaultValue": {
          "default": "false"
        },
        "Type": "Boolean",
        "Settings": {
          "ShowCondition": "!itemParameters[\"DateTimeIcon\"]"
        }
      },
      {
        "Id": "DateTimeIcon",
        "Title": {
          "default": "Textbox with button"
        },
        "HelpText": {
          "default": "If enabled, datepicker will be opened when you click the button."
        },
        "DefaultValue": {
          "default": "false"
        },
        "Type": "Boolean",
        "Settings": {
          "ShowCondition": "!itemParameters[\"InlineMode\"]"
        }
      },
      {
        "Id": "DateTimeFormat",
        "Title": {
          "default": "DateTime Format"
        },
        "HelpText": {
          "default": "Optionally, provide a custom date/time format, the default format is <em>MM/dd/yyyy HH:mm</em>. Leave empty to take the server locale default format."
        },
        "Type": "Text"
      },
      {
        "Id": "JsonOptions",
        "Title": {
          "default": "Other Options for Datepicker (JSON)"
        },
        "HelpText": {
          "default": "Optionally provide a JSON object with other options to pass into the Date Picker options. For example, write <em>{ showWeeks: true, minDate:\"[DateTime:Now|yyyy-MM-dd]\" }</em>, please check the <a href=\"https://github.com/Gillardo/bootstrap-ui-datetime-picker\">documentation</a>."
        },
        "Type": "Textarea"
      },
      {
        "Id": "TimeJsonOptions",
        "Title": {
          "default": "Other Options for Timepicker (JSON)"
        },
        "HelpText": {
          "default": "Optionally provide a JSON object with other options to pass into the Time Picker options. For example, write <em>{ showWeeks: true }</em>, please check the <a href=\"https://github.com/Gillardo/bootstrap-ui-datetime-picker\">documentation</a>."
        },
        "Type": "Textarea"
      },
      {
        "Id": "SaveToReport",
        "Title": {
          "default": "Save to Report"
        },
        "HelpText": {
          "default": "The field will be saved in Reports. If Enable Reports from General settings is not checked, this will be overridden."
        },
        "DefaultValue": {
          "default": "false"
        },
        "Type": "Boolean"
      }
    ]
  }
]
