[
  {
    "Title": "reCAPTCHA V3",
    "Name": "recaptchaV3",
    "Categories": ["Security"],
    "TypeStr": "avt.ActionForm.Core.Input.ReCaptchaV3,avt.ActionForm.Core",
    "JsIncludes": [
      "[commonUrl]/static/angular15/googlerecaptchaV3/angular-recaptchaV3.js"
    ],
    "CssIncludes": [],
    "HelpText": {
      "default": "Loads the google api.js script and adds a recaptcha v3 hidden field. The following tokens will be generated upon submission: [&lt;FieldName&gt;] - containing the submit token, [&lt;FieldName&gt;:Score] - a value between 0.0 and 1.0, [&lt;FieldName&gt;:Action] - this will always have the 'submit' value, reserved for future development <br/> <a href='https://developers.google.com/recaptcha/docs/v3' target='_blank'>Follow this link to see the documentation</a>"
    },
    "Settings": {
      "TemplateFile": "controls/recaptchaV3.xsl"
    },
    "Parameters": [
      {
        "Id": "SiteKey",
        "Type": "Text",
        "Title": { "default": "API Site Key" },
        "HelpText": {
          "default": "This is the public Google API Site Key assigned to your site. <a href='https://g.co/recaptcha/v3' target='_blank'>Site registration and keys</a>"
        },
        "IsPublic": true
      },
      {
        "Id": "SecretKey",
        "Type": "Password",
        "Title": { "default": "API Secret Key" },
        "HelpText": {
          "default": "This is the private key that is used to validate the entry with the Google reCAPTCHA service. <a href='https://g.co/recaptcha/v3' target='_blank'>Site registration and keys</a>"
        }
      }
    ]
  }
]
