[{
    "Name": "hiden-constant",
    "TypeStr": "avt.ActionForm.Core.Input.HiddenData,avt.ActionForm.Core",
    "Categories": ["Hidden Data"],
    "Title": "Hidden Field with Custom Value",
    "HelpText": {
        "default": "Can contain My Tokens!"
    },
    "Settings": {
        "HasInputValidation": false,
        "HasUi": false
    },
    "Parameters": [{
        "Id": "Value",
        "Type": "Text",
        "Title": {
            "default": "Initial Value"
        },
        "HelpText": {
            "default": "Determines which item is initially selected. Supports Tokens so you can pull data from various sources such as user profile."
        }
    }, {
        "Id": "SaveToReport",
        "Type": "Boolean",
        "Title": {
            "default": "Save to Report"
        },
        "DefaultValue": {
            "default": "false"
        },
        "HelpText": {
            "default": "The field will be saved in Reports. If Enable Reports from General settings is not checked, this will be overridden."
        }
    }, {
        "Id": "SecureInput",
        "Title": {
            "default": "Secure Input"
        },
        "Type": "Boolean",
        "HelpText": {
            "default": "The value of the input will be HTML sanitized upon submit. For more information check the <a href=\"https://learn.plantanapp.com/docs/modules/important-notes/secure-input\" target=\"_blank\">documentation</a>."
        },
        "DefaultValue": {
            "default": "true"
        }
    }]
}]