[
  {
    "Title": "Item Picker (Tree View)",
    "Name": "item-picker-tree-view",
    "Categories": [
      "Single Choice"
    ],
    "JsIncludes": [
      "[commonurl]/static/angular15/angular-tree-control/angular-tree-control.js"
    ],
    "CssIncludes": [
      "[commonurl]/static/angular15/angular-tree-control/tree-control.css",
      "[commonurl]/static/angular15/angular-tree-control/tree-control-attribute.css"
    ],
    "HelpText": {
      "default": "Allows users to select a a value from a tree view. On submit, this field will generate the following tokens: [&lt;FieldName&gt;] (which yields the value), [&lt;FieldName&gt;:Text], [&lt;FieldName&gt;:Value], [&lt;FieldName&gt;:Path], [&lt;FieldName&gt;:ParentPath], [&lt;FieldName&gt;:HasChildren], [&lt;FieldName&gt;:IsSelectable], [&lt;FieldName&gt;:ItemId], [&lt;FieldName&gt;:ParentId]."
    },
    "TypeStr": "avt.ActionForm.Core.Input.ItemPickerTreeView,avt.ActionForm.Core",
    "Flags": [
      "checkbox"
    ],
    "Parameters": [
      {
        "Id": "InlineTree",
        "Title": {
          "default": "Show Inline"
        },
        "HelpText": {
          "default": "Displays the tree inline instead of inside a dropdown."
        },
        "Type": "Boolean"
      },
      {
        "Id": "DataSource",
        "Title": {
          "default": "Data Source"
        },
        "HelpText": {
          "default": "Choose from existing data sources or provide values below."
        },
        "DefaultValue": {
          "default": "{ \"Value\": \"Items\", \"Items\": \"First Item\\nSecond Item|WithDifferentValue\" }"
        },
        "Type": "Select",
        "Settings": {
          "DataSource": "FrontEndDataSources"
        }
      },
      {
        "Id": "Value",
        "Title": {
          "default": "Initially Selected"
        },
        "HelpText": {
          "default": "Determines which of the check boxes are initially selected. Possible values are from the list above. Separate multiple values with semicolon (;) characters. Supports Tokens so you can pull data from various sources such as user profile."
        },
        "Type": "Text",
        "IsPublic": false
      },
      {
        "Id": "SaveToReport",
        "Title": {
          "default": "Save to Report"
        },
        "HelpText": {
          "default": "The field will be saved in Reports. If Enable Reports from General settings is not checked, this will be overridden."
        },
        "DefaultValue": {
          "default": "false"
        },
        "Type": "Boolean",
        "IsPublic": false
      }
    ],
    "Settings": {
      "IsCommon": true
    }
  }
]
