[
  {
    "Title": "Progress Bar",
    "Name": "progressbaranimated",
    "Categories": [
      "Graphics"
    ],
    "JsIncludes": [
      "[commonurl]/static/angular15/progressbar/progressbar.js",
      "[commonurl]/static/angular15/progressbar/ng-progress.js"
    ],
    "TypeStr": "avt.ActionForm.Core.Input.ProgressBar, avt.ActionForm.Core",
    "Parameters": [
      {
        "Id": "Value",
        "Title": {
          "default": "Initial Value"
        },
        "HelpText": {
          "default": "The field loads initially having this value. Value should be between Min Value and Max Value. Supports Tokens so you can pull data from various sources such as user profile."
        },
        "Type": "Text"
      },
      {
        "Id": "PType",
        "Title": {
          "default": "Shape"
        },
        "DefaultValue": {
          "default": "Line"
        },
        "Type": "Select",
        "Settings": {
          "Items": {
            "Line": {
              "default": "Line"
            },
            "Circle": {
              "default": "Circle"
            },
            "Semicircle": {
              "default": "Semicircle"
            }
          }
        }
      },
      {
        "Id": "DisplayTextType",
        "Title": {
          "default": "Display Text"
        },
        "HelpText": {
          "default": "Choose an option for text."
        },
        "DefaultValue": {
          "default": "Percentage"
        },
        "Type": "Select",
        "Settings": {
          "Items": {
            "None": {
              "default": "None"
            },
            "Percentage": {
              "default": "Percentage"
            },
            "Value": {
              "default": "Value"
            }
          }
        }
      },
      {
        "Id": "MinVal",
        "Title": {
          "default": "Min Value"
        },
        "HelpText": {
          "default": "Minimum of the range where the percentage will be calculated. Can be negative. Default 0. (eg. 20). Supports Tokens so you can pull data from various sources such as user profile."
        },
        "DefaultValue": {
          "default": "0"
        },
        "Type": "Text"
      },
      {
        "Id": "MaxVal",
        "Title": {
          "default": "Max Value"
        },
        "HelpText": {
          "default": "Maximum of the range where the percentage will be calculated. Default 100. (eg. 80). Supports Tokens so you can pull data from various sources such as user profile."
        },
        "DefaultValue": {
          "default": "100"
        },
        "Type": "Text"
      },
      {
        "Id": "StrokeColor",
        "Title": {
          "default": "Stroke color"
        },
        "HelpText": {
          "default": "Please enter Color (eg. red #00ff00 rgb(0,0,255)). Supports Tokens so you can pull data from various sources such as user profile."
        },
        "DefaultValue": {
          "default": "#ED6A5A"
        },
        "Type": "Text"
      },
      {
        "Id": "TrailColor",
        "Title": {
          "default": "Trail color"
        },
        "HelpText": {
          "default": "Please enter Color (eg. red #00ff00 rgb(0,0,255)). Supports Tokens so you can pull data from various sources such as user profile."
        },
        "DefaultValue": {
          "default": "gray"
        },
        "Type": "Text"
      },
      {
        "Id": "StrokeWidth",
        "Title": {
          "default": "Stroke Width"
        },
        "HelpText": {
          "default": "Thickness of the stroke (eg. 2). Supports Tokens so you can pull data from various sources such as user profile."
        },
        "DefaultValue": {
          "default": "2"
        },
        "Type": "Text"
      },
      {
        "Id": "TrailWidth",
        "Title": {
          "default": "Trail Width"
        },
        "HelpText": {
          "default": "Thickness of the trail (eg. 1). Supports Tokens so you can pull data from various sources such as user profile."
        },
        "DefaultValue": {
          "default": "1"
        },
        "Type": "Text"
      },
      {
        "Id": "Animation",
        "Title": {
          "default": "Animation"
        },
        "HelpText": {
          "default": "Type of animation on value change."
        },
        "DefaultValue": {
          "default": "easeInOut"
        },
        "Type": "Select",
        "Settings": {
          "Items": {
            "easeInOut": {
              "default": "easeInOut"
            },
            "bounce": {
              "default": "bounce"
            }
          }
        }
      },
      {
        "Id": "AnimationDuration",
        "Title": {
          "default": "Animation Duration"
        },
        "HelpText": {
          "default": "Time in milliseconds. Disable with -1. (eg. 1400) Supports Tokens so you can pull data from various sources such as user profile."
        },
        "DefaultValue": {
          "default": "1400"
        },
        "Type": "Text"
      },
      {
        "Id": "ValueColor",
        "Title": {
          "default": "Change color on value"
        },
        "HelpText": {
          "default": "Set the color of the progress bar once it reaches the specified value. Multiple steps can be added. (eg 20(Value) - red(Color))"
        },
        "Type": "NameValueCollection",
        "Settings": {
          "NameColumn": "Value",
          "ValueColumn": "Color",
          "ButtonName": "Add color"
        }
      }
    ],
    "Settings": {
      "TemplateFile": "controls/progressbar.xsl"
    }
  }
]
