[
  {
    "Title": "Slider",
    "Name": "slider",
    "Categories": [
      "Single Choice"
    ],
    "JsIncludes": [
      "[commonurl]/static/jquery/jquery.ui.touch-punch.min.js",
      "[commonurl]/static/angular15/bs-slider/js/bootstrap-slider.js"
    ],
    "CssIncludes": [
      "[commonurl]/static/angular15/bs-slider/css/bootstrap-slider.css"
    ],
    "HelpText": {
      "default": "This field allows users to slide through the values of an array. It offers dual handles, floating point values, text/label/select output. On submit, it will generate the following tokens: [&lt;FieldName&gt;] (which yields the value), [&lt;FieldName&gt;:StartValue], [&lt;FieldName&gt;:EndValue]."
    },
    "TypeStr": "avt.ActionForm.Core.Input.Slider,avt.ActionForm.Core",
    "Parameters": [
      {
        "Id": "Value",
        "Title": {
          "default": "Initial Value"
        },
        "HelpText": {
          "default": "Determines which value or interval (e.g.: 10, 20) is initially selected. Also sets the number of slider handles, either 1 or 2. Supports tokens."
        },
        "Type": "Text"
      },
      {
        "Id": "StartText",
        "Title": {
          "default": "Start Text"
        },
        "HelpText": {
          "default": "Displays the initial value/text of the slider and therefore the position of the first handle. Supports tokens."
        },
        "Type": "Text"
      },
      {
        "Id": "EndText",
        "Title": {
          "default": "End Text"
        },
        "HelpText": {
          "default": "Displays the highest value/text of the slider. Supports tokens."
        },
        "Type": "Text"
      },
      {
        "Id": "Help",
        "Title": {
          "default": "Help Text"
        },
        "HelpText": {
          "default": "Description of the option; appears beneath the handler. Supports tokens."
        },
        "Type": "Text"
      },
      {
        "Id": "MinValue",
        "Title": {
          "default": "Min Value"
        },
        "HelpText": {
          "default": "Value setting the minimum slider value. Supports tokens."
        },
        "Type": "Text"
      },
      {
        "Id": "MaxValue",
        "Title": {
          "default": "Max Value"
        },
        "HelpText": {
          "default": "Value setting the maximum slider value. Supports tokens."
        },
        "Type": "Text"
      },
      {
        "Id": "StepValue",
        "Title": {
          "default": "Step Value"
        },
        "HelpText": {
          "default": "Value setting the slider step value. Supports tokens."
        },
        "Type": "Text"
      },
      {
        "Id": "SliderCaptions",
        "Title": {
          "default": "Slider Captions"
        },
        "HelpText": {
          "default": "Append Slider Captions. Supports tokens. <br />For decimals use \".\".<br /> Example: One (Name) - 1 (Value), Two (Name) - 2 (Value), ..."
        },
        "Type": "NameValueCollection",
        "Settings": {
          "NameColumn": "Name",
          "ValueColumn": "Value",
          "ButtonName": "Add Caption"
        }
      },
      {
        "Id": "SliderCaptionClasses",
        "Title": {
          "default": "Slider Caption Classes"
        },
        "HelpText": {
          "default": "Append Slider Caption Css Classes. Supports tokens.<br /> Example: label label-danger (Class) - 1 (Value), label label-success (Class) - 2 (Value), ..."
        },
        "Type": "NameValueCollection",
        "Settings": {
          "NameColumn": "Class Name",
          "ValueColumn": "Value",
          "ButtonName": "Add Caption Class",
          "ShowCondition": "itemParameters[\"SliderCaptions\"].length"
        }
      },
      {
        "Id": "Width",
        "Title": {
          "default": "Width"
        },
        "HelpText": {
          "default": "Determines the slider width in px, em or percentage."
        },
        "DefaultValue": {
          "default": "100%"
        },
        "Type": "Text"
      },
      {
        "Id": "DisplayTooltip",
        "Title": {
          "default": "Display Tooltip"
        },
        "HelpText": {
          "default": "Determines if the tooltip with the current value is displayed. <span class='text-warning'>Works only with Bootstrap 3 templates</span>"
        },
        "Type": "Boolean"
      },
      {
        "Id": "SliderOrientation",
        "Title": {
          "default": "Slider Orientation"
        },
        "HelpText": {
          "default": "Sets the orientation (horizontal, vertical) of the slider."
        },
        "DefaultValue": {
          "default": "horizontal"
        },
        "Type": "Select",
        "Settings": {
          "Items": {
            "horizontal": {
              "default": "Horizontal"
            },
            "vertical": {
              "default": "Vertical"
            }
          }
        }
      },
      {
        "Id": "SaveToReport",
        "Title": {
          "default": "Save to Report"
        },
        "HelpText": {
          "default": "The field will be saved in Reports. If Enable Reports from General settings is not checked, this will be overridden."
        },
        "DefaultValue": {
          "default": "false"
        },
        "Type": "Boolean"
      }
    ]
  }
]
