[{
  "Name": "sortable-input",
  "TypeStr": "avt.ActionForm.Core.Input.SortableInput,avt.ActionForm.Core",
  "Title": "Sortable Input",
  "Categories": ["Multiple Choice"],
  "HelpText": {
    "default": "This field allows users to change the items' position and manipulate them using simple drag and drop. On submit, it will generate the following tokens: [&lt;FieldName&gt;] (which yields the value), [&lt;FieldName&gt;:Text], [&lt;FieldName&gt;:Value]."
  },
  "JsIncludes": [
    "[commonurl]/static/jquery/jquery.ui.touch-punch.min.js",
    "[commonurl]/static/angular15/sortable-input.js"
  ],
  "Parameters": [{
    "Id": "CssIconClass",
    "Type": "Text",
    "Title": {
      "default": "Css Icon Class"
    },
    "DefaultValue": {
      "default": "fa-bars"
    },
    "HelpText": {
      "default": "Use <a target=\"_blank\" href=\"https://fontawesome.com/v6/search?o=r&m=free\">font awesome version 6.2 classes</a> to label the button with icons. (fa-*shortcode*).<br/>You can use 4 different styles - Solid(fas), Regular(far), Light(fal) and Brands(fab). Example:(fas fa-*shortcode*).<br/>You can also use \"pull-left\" and \"pull-right\" bootstrap classes to modify the position of the icon (not supported on firefox)."
    }
  }, {
    "Id": "IconPosition",
    "Type": "Select",
    "Title": {
      "default": "Icon Position"
    },
    "HelpText": {
      "default": "Sets the alignment (left, right) of the icon."
    },
    "DefaultValue": {
      "default": "left"
    },
    "Settings": {
      "Items": {
        "left": {
          "default": "Left"
        },
        "right": {
          "default": "Right"
        }
      }
    }
  }, {
    "Id": "DragByIcon",
    "Type": "Boolean",
    "Title": {
      "default": "Drag by icon only"
    },
    "DefaultValue": {
      "default": "true"
    }
  }, {
    "Id": "DataSource",
    "Type": "Select",
    "Title": {
      "default": "Data Source"
    },
    "HelpText": {
      "default": "Choose from existing data sources or provide values below."
    },
    "DefaultValue": {
      "default": "{ \"Value\": \"Items\", \"Items\": \"First Item\\nSecond Item|WithDifferentValue\" }"
      
    },
    "Settings": {
      "DataSource": "FrontEndDataSources"
    }
  }, {
    "Id": "SaveToReport",
    "Type": "Boolean",
    "Title": {
      "default": "Save to Report"
    },
    "HelpText": {
      "default": "The field will be saved in Reports. If Enable Reports from General settings is not checked, this will be overridden."
    },
    "DefaultValue": {
      "default": "false"
    }
  }]
}]