[
  {
    "Title": "Star Rating",
    "Name": "starrating",
    "Categories": ["Single Choice"],
    "JsIncludes": [
      "[commonurl]/static/angular15/starrating/js/star-rating.js",
      "[commonurl]/static/angular15/starrating/ng-stars.js"
    ],
    "CssIncludes": [
      "[commonurl]/static/angular15/starrating/css/star-rating.css"
    ],
    "TypeStr": "avt.ActionForm.Core.Input.StarRating, avt.ActionForm.Core",
    "Parameters": [
      {
        "Id": "Value",
        "Title": {
          "default": "Initial Value"
        },
        "HelpText": {
          "default": "The fields loads initially having this value. Supports Tokens so you can pull data from various sources such as user profile."
        },
        "Type": "Text"
      },
      {
        "Id": "StarsNo",
        "Title": {
          "default": "Number Of Stars"
        },
        "HelpText": {
          "default": "Please enter the number of stars. <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>."
        },
        "Type": "Text"
      },
      {
        "Id": "Step",
        "Title": {
          "default": "Step"
        },
        "HelpText": {
          "default": "Please enter the Step count.(supported step count are 0.1/0.5/1) <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>."
        },
        "Type": "Text"
      },
      {
        "Id": "Size",
        "Title": {
          "default": "Size"
        },
        "HelpText": {
          "default": "Please enter the Size.(supported size are:<b> xs</b> - extra small, <b>sm</b> - small, <b>md</b> - medium, <b>lg</b> - large, <b> xl</b>- extra large) <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>."
        },
        "Type": "Text"
      },
      {
        "Id": "MinimumRating",
        "Title": {
          "default": "Minimum Rating (OBSOLETE)"
        },
        "HelpText": {
          "default": "This parameter has been marked as obsolete. It will be removed next release and will default to 0. Please enter the value associated with 0 stars/Not Rated (can be 0 to Number Of Stars). <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>."
        },
        "Type": "Text"
      },
      {
        "Id": "MaximumRating",
        "Title": {
          "default": "Maximum Rating (OBSOLETE)"
        },
        "HelpText": {
          "default": "This parameter has been marked as obsolete. It will be removed next release and will default to the Number of Stars parameter. Please enter the value associated with the maximum number of stars (can be 0 to Number Of Stars). <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>."
        },
        "Type": "Text"
      },
      {
        "Id": "SelectedStarColor",
        "Title": {
          "default": "Selected Star Color"
        },
        "HelpText": {
          "default": "Please enter Color (eg. red #00ff00 rgb(0,0,255))<a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>."
        },
        "Type": "Text"
      },
      {
        "Id": "UnselectedStarColor",
        "Title": {
          "default": "Unselected Star Color"
        },
        "HelpText": {
          "default": "Please enter Color (eg. red #00ff00 rgb(0,0,255)) <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>."
        },
        "Type": "Text"
      },
      {
        "Id": "ClearCaption",
        "Title": {
          "default": "Clear Caption"
        },
        "HelpText": {
          "default": "Caption to be shown when no selection is made. Can contain form tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
        },
        "Type": "Text"
      },
      {
        "Id": "StarCaptions",
        "Title": {
          "default": "Star Captions"
        },
        "HelpText": {
          "default": "Append Star Captions. For decimals use \".\". Can contain form tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>.<br /> Example: One Star (Name) - 1 (Value), Two Star (Name) - 2 (Value), ..."
        },
        "Type": "NameValueCollection",
        "Settings": {
          "NameColumn": "Name",
          "ValueColumn": "Value",
          "ButtonName": "Add Caption",
          "ShowCondition": "!itemParameters[\"ShowCaption\"]"
        }
      },
      {
        "Id": "StarCaptionClasses",
        "Title": {
          "default": "Star Caption Classes"
        },
        "HelpText": {
          "default": "Append Star Caption Css Classes. Can contain form tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>.<br /> Example: label label-danger (Class) - 1 (Value), label label-success (Class) - 2 (Value), ..."
        },
        "Type": "NameValueCollection",
        "Settings": {
          "NameColumn": "Class Name",
          "ValueColumn": "Value",
          "ButtonName": "Add Caption Class",
          "ShowCondition": "!itemParameters[\"ShowCaption\"]"
        }
      },
      {
        "Id": "ShowCaption",
        "Title": {
          "default": "Hide Caption"
        },
        "HelpText": {
          "default": "If checked this will hide the Caption. <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>."
        },
        "Type": "Boolean"
      },
      {
        "Id": "ShowClear",
        "Title": {
          "default": "Hide Clear Button"
        },
        "HelpText": {
          "default": "If checked this will hide the Clear button. <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>."
        },
        "Type": "Boolean"
      },
      {
        "Id": "SaveToReport",
        "Title": {
          "default": "Save to Report"
        },
        "HelpText": {
          "default": "The field will be saved in Reports. If Enable Reports from General settings is not checked, this will be overridden."
        },
        "DefaultValue": {
          "default": "false"
        },
        "Type": "Boolean"
      }
    ],
    "Settings": {
      "TemplateFile": "controls/starrating.xsl"
    }
  }
]
