[
  {
    "Title": "Tags Input",
    "Name": "tags-input",
    "Categories": [
      "Multiple Choice"
    ],
    "TypeStr": "avt.ActionForm.Core.Input.MultipleChoiceMultiSelect,avt.ActionForm.Core",
    "JsIncludes": [
	  "[commonUrl]/static/angular15/tagify/jQuery.tagify.min.js",
	  "[commonUrl]/static/angular15/tagify/ng-tagify.js"
	],
	"CssIncludes": [
	  "[commonUrl]/static/angular15/tagify/tagify.css",
	  "[commonUrl]/static/angular15/tagify/tagify-custom.css"
	],
    "Parameters": [
      {
        "Id": "DataSource",
        "Title": {
          "default": "Data Source"
        },
        "Type": "Select",
        "Settings": {
          "DataSource": "FrontEndDataSources"
        },
        "HelpText": {
          "default": "Choose from existing data sources or provide values below."
        },
        "DefaultValue": {
          "default": "{\"Value\": \"Items\",\"Items\": \"First Item\\nSecond Item|WithDifferentValue\"}"
        }
      },
      {
        "Id": "Value",
        "Title": {
          "default": "Initial Tags"
        },
        "Type": "Text",
        "DefaultValue": {
          "default": ""
        },
        "HelpText": {
          "default":
          "Comma delimited list with tags to load into the control initially. Supports Tokens so you can pull data from various sources such as user profile."
        }
      },
      {
        "Id": "Limit",
        "Title": {
          "default": "Limit Number of Tags"
        },
        "Type": "Text",
        "HelpText": {
          "default": "Limit the number of tags a user is allowed to submit. Supports Tokens."
        }
      },
      {
        "Id": "SaveToReport",
        "Title": {
          "default": "The field will be saved in Reports. If Enable Reports from General settings is not checked, this will be overridden."
        },
        "Type": "Boolean",
        "DefaultValue": {
          "default": "false"
        }
      }
    ]
  }
]
