<?xml version="1.0" encoding="utf-8"?>
<AnalyticsConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Settings>
    <AnalyticsSetting>
      <SettingName>GtmId</SettingName>
      <SettingValue>G-6HBJGBLJKW</SettingValue>
    </AnalyticsSetting>
    <AnalyticsSetting>
      <SettingName>TrackForAdmin</SettingName>
      <SettingValue>true</SettingValue>
    </AnalyticsSetting>
  </Settings>
</AnalyticsConfig>