@using DotNetNuke.Web.DDRMenu;

@using System.Dynamic;

@inherits DotNetNuke.Web.Razor.DotNetNukeWebPage<dynamic>

@{ var root = Model.Source.root; }

@helper RenderNodes(IList<MenuNode> nodes)
{ if (nodes.Count > 0)
  {
    <div class="ui secondary menu">
      @foreach (var node in nodes)
      {
        <a class="item" target="@node.Target" href="@node.Url">@node.Text</a>
      }  
    </div>
  }
}

@RenderNodes(root.Children)