$primary:       #37acb7 !default;    // If you want this color in your dark theme
$secondary:     #00566B !default;    // If you want this color in your dark theme

$body-bg:       #015f63 !default;    // A darker color for your dark theme
$body-color:    #ffffff !default;    // A lighter color that contrasts well with $body-bg