.bstrap3-material .tagify {
    --tag-bg: #2196f3;
    --tag-hover: #0d87e9;
    --tag-remove-bg: rgba(211, 148, 148, 0.8);
}

    .bstrap3-material .tagify .tagify__tag-text {
        color: white;
    }

.bstrap30 .tagify {
    --tag-bg: #5bc0de;
    --tag-hover: #31b0d5;
    --tag-remove-bg: rgba(211, 148, 148, 0.8);
}

    .bstrap30 .tagify .tagify__tag-text {
        color: white;
    }

.form-root tags.tagify {
    height: auto;

    /*fix tagify compatibility with bootstrap3*/
    padding: 0 6px;
    line-height: 1;
}
