<div class="video-display">
    {{#each Video}}
        <div class="video-display--video">
            <div class="responsive-media">
                {{Embed_Code}}
            </div>
        </div>
    {{/each}}
</div>