[

    {
        "Id": "ResetPassword",
        "Title": {
            "default": "User Reset Password"
        },
        "HelpText": {
            "default": "This action will reset a user password."
        },
        "TypeStr": "avt.ActionForm.Core.Actions.ResetPassword, avt.ActionForm.Core",
        "Settings": {
            "Group": "User Management"
        },

        "Parameters": [{
                "Id": "Username",
                "Title": {
                    "default": "Username"
                },
                "HelpText": {
                    "default": "Can contain form tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
                },
                "Type": "Text"
            },
            {
                "Id": "NewPassword",
                "Title": {
                    "default": "New Password"
                },
                "HelpText": {
                    "default": "Can contain form tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
                },
                "Type": "Text"
            },
            {
                "Id": "RepeatPassword",
                "Title": {
                    "default": "Repeat Password"
                },
                "HelpText": {
                    "default": "Can contain form tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
                },
                "Type": "Text"
            }
        ]
    }

]