[

    {
        "Id": "ValidateResetPasswordToken",
        "Title": {
            "default": "Validate User Reset Password"
        },
        "HelpText": {
            "default": "This action will validate if a password reset token is valid."
        },
        "TypeStr": "avt.ActionForm.Core.Actions.ValidateResetPasswordToken, avt.ActionForm.Core",
        "Settings": {
            "Group": "User Management"
        },

        "Parameters": []
    }

]