[
    {
        "Id": "SendMail",
        "Title": {
            "default": "Send Email"
        },
        "HelpText": {
            "default": "Note that you can use [Email] to get the email address that was submitted with the form or [User:Email] to get the email address of the currently logged in user."
        },
        "TypeStr": "DnnSharp.Common.Actions.Communications.SendEmail, DnnSharp.Common.Actions",
        "Settings": {
            "Group": "Email"
        },
        "Parameters": [
            {
                "Id": "Credentials",
                "Type": "ActionCredentials",
                "Title": {
                    "default": "Credentials"
                },
                "Settings": {
                    "Selection": "Single",
                    "Type": "smtp"
                },
                "Conditions": [
                    {
                        "TypeStr": "DnnSharp.Common2.Services.PlantAnApp.ConfigConditions.IsPlantAnApp,DnnSharp.Common2"
                    }
                ]
            },
            {
                "Id": "From",
                "Title": {
                    "default": "From"
                },
                "HelpText": {
                    "default": "Leave empty to use the system default. Can contain form tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
                },
                "Type": "Text"
            },
            {
                "Id": "DetermineEmail",
                "Title": {
                    "default": "Determine Email Automatically"
                },
                "HelpText": {
                    "default": "Email will be determined based on currently logged in user."
                },
                "Type": "Boolean",
                "Settings": {
                    "ShowCondition": "!itemParameters[\"ToAllUsers\"]"
                }
            },
            {
                "Id": "To",
                "Title": {
                    "default": "To"
                },
                "HelpText": {
                    "default": "Separate multiple recipients by semicolon \";\". Can contain form tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
                },
                "Type": "Text",
                "Settings": {
                    "ShowCondition": "!itemParameters[\"DetermineEmail\"] && !itemParameters[\"ToAllUsers\"]"
                }
            },
            {
                "Id": "ToAllUsers",
                "Title": {
                    "default": "Send mail to all users"
                },
                "HelpText": {
                    "default": "Send mail to all users from the context. When this is checked the To field should be empty. In case it is not empty, beware that tokens form the 'User' namespace will have unexpected values."
                },
                "Type": "Boolean",
                "Settings": {
                    "ShowCondition": "!itemParameters[\"DetermineEmail\"]"
                }
            },
            {
                "Id": "ReplyTo",
                "Title": {
                    "default": "Reply To"
                },
                "HelpText": {
                    "default": "Separate multiple recipients by semicolon \";\". Can contain form tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
                },
                "Type": "Text"
            },
            {
                "Id": "Cc",
                "Title": {
                    "default": "CC"
                },
                "HelpText": {
                    "default": "Separate multiple recipients by semicolon \";\". Can contain form tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
                },
                "Type": "Text"
            },
            {
                "Id": "Bcc",
                "Title": {
                    "default": "BCC"
                },
                "HelpText": {
                    "default": "Separate multiple recipients by semicolon \";\". Can contain form tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
                },
                "Type": "Text"
            },
            {
                "Id": "Subject",
                "Title": {
                    "default": "Subject"
                },
                "HelpText": {
                    "default": "Can contain form tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
                },
                "Type": "Text"
            },
            {
                "Id": "Format",
                "Title": {
                    "default": "Format"
                },
                "DefaultValue": {
                    "default": "Html"
                },
                "Type": "Select",
                "Settings": {
                    "Items": {
                        "Html": {
                            "default": "Html (And replace newline with <br />) "
                        },
                        "Text": {
                            "default": "Text "
                        },
                        "HtmlWithoutNewline": {
                            "default": "Html "
                        }
                    }
                }
            },
            {
                "Id": "DnnEmailTemplate",
                "Title": {
                    "default": "DNN email template to use."
                },
                "HelpText": {
                    "default": "Get subject and body of email from template."
                },
                "Type": "Select",
                "Settings": {
                    "DataSource": "DnnEmailTemplatesSource"
                }
            },
            {
                "Id": "Body",
                "Title": {
                    "default": "Body"
                },
                "HelpText": {
                    "default": "Can contain form tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
                },
                "Type": "RichText",
                "Settings": {
                    "ShowCondition": "!itemParameters[\"DnnEmailTemplate\"].Value"
                }
            },
            {
                "Id": "Headers",
                "Title": {
                    "default": "Headers"
                },
                "HelpText": {
                    "default": "Append custom headers to the email. Can contain form tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
                },
                "Type": "NameValueCollection",
                "Settings": {
                    "NameColumn": "Name",
                    "ValueColumn": "Value",
                    "ButtonName": "Add Header"
                }
            },
            {
                "Id": "PortalFiles",
                "Title": {
                    "default": "Attach Portal Files"
                },
                "Type": "FilePicker"
            },
            {
                "Id": "FileField1",
                "Title": {
                    "default": "Attach Field #1"
                },
                "HelpText": {
                    "default": "Select an upload field to send as attachment"
                },
                "Type": "FieldSelect",
                "Settings": {
                    "FieldType": "[\"upload.single\", \"upload.multi\"]"
                }
            },
            {
                "Id": "FileField2",
                "Title": {
                    "default": "Attach Field #2"
                },
                "HelpText": {
                    "default": "Select an upload field to send as attachment"
                },
                "Type": "FieldSelect",
                "Settings": {
                    "FieldType": "[\"upload.single\", \"upload.multi\"]"
                }
            },
            {
                "Id": "FileField3",
                "Title": {
                    "default": "Attach Field #3"
                },
                "HelpText": {
                    "default": "Select an upload field to send as attachment"
                },
                "Type": "FieldSelect",
                "Settings": {
                    "FieldType": "upload.single"
                }
            },
            {
                "Id": "FileField4",
                "Title": {
                    "default": "Attach Field #4"
                },
                "HelpText": {
                    "default": "Select an upload field to send as attachment"
                },
                "Type": "FieldSelect",
                "Settings": {
                    "FieldType": "[\"upload.single\", \"upload.multi\"]"
                }
            },
            {
                "Id": "FileField5",
                "Title": {
                    "default": "Attach Field #5"
                },
                "HelpText": {
                    "default": "Select an upload field to send as attachment"
                },
                "Type": "FieldSelect",
                "Settings": {
                    "FieldType": "[\"upload.single\", \"upload.multi\"]"
                }
            },
            {
                "Id": "FileToken1",
                "Title": {
                    "default": "Attach from Token"
                },
                "HelpText": {
                    "default": "This lets you compute file path from token. It must be relative to portal home folder. Can contain form tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>. Multiple items must be separated by semicolons."
                },
                "Type": "Text"
            },
            {
                "Id": "IgnoreErros",
                "Title": {
                    "default": "Ignore Errors"
                },
                "HelpText": {
                    "default": "If errors are ignored, the submission of the form continues even when there is an error sending the email. Otherwise, an error message will be displayed to the user. Note that if the email is being sent async or is placed in a pickup folder, errors won't be caught."
                },
                "Type": "Boolean"
            }
        ]
    }
]