[{
    "Id": "ShowError",
    "Title": {
        "default": "Display Error Message"
    },
    "HelpText": {
        "default": "Displays an error message. The user can't submit the form until the error is corrected."
    },
    "TypeStr": "avt.ActionForm.Core.Actions.ShowError, avt.ActionForm.Core",
    "Settings": {
        "Group": "Message"
    },
    "Final": true,
    "Parameters": [
        {
            "Id": "Message",
            "Title": {
                "default": "Message"
            },
            "HelpText": {
                "default": "Can contain form tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
            },
            "Type": "RichText"
        }
    ]
}]