[{
    "Id": "UpdateForm",
    "Title": {
        "default": "Update Form Data (AJAX)"
    },
    "HelpText": {
        "default": "Sends current context back to the browser, updating the form fields."
    },
    "TypeStr": "avt.ActionForm.Core.Actions.UpdateData, avt.ActionForm.Core",
    "Final": true,
    "Settings": {
        "Group": "Data"
    }
}]