[{
    "Id": "SaveReportDb",
    "Title": {
        "default": "Save Report in the Database"
    },
    "HelpText": {
        "default": "Saves report in database. This action is automatically executed on every button if there are no validation errors. <br /> If you wish to save to the ActionForm Reports even when there are validation errors add this action under Form Events - On Validation Failed."
    },
    "TypeStr": "avt.ActionForm.Core.Actions.SaveReport, avt.ActionForm.Core",
    "Settings": {
        "Group": "Data"
    }
}]