[{
    "Id": "RepostData",
    "Title": {
        "default": "Repost Data"
    },
    "HelpText": {
        "default": "This action reposts the form to a different URL, ending executation of any actions that follow."
    },
    "TypeStr": "avt.ActionForm.Core.Actions.RepostData, avt.ActionForm.Core",
    "Settings": {
        "Group": "Data"
    },
    "Parameters": [
        {
            "Id": "Url",
            "Title": {
                "default": "Url"
            },
            "HelpText": {
                "default": "The Url can be to same or different domain, relative or absolute. Can contain form tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
            },
            "Type": "Text"
        },
        {
            "Id": "PostData",
            "Title": {
                "default": "Post Data"
            },
            "HelpText": {
                "default": "Write one pair key=value per line. Can contain form tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
            },
            "Type": "Code"
        },
        {
            "Id": "RepostEverything",
            "Title": {
                "default": "Repost Everything"
            },
            "HelpText": {
                "default": "Enable this option to also repost all data in addition to fields above."
            },
            "Type": "Boolean"
        }
    ]
}]