[{
    "Id": "UserLogin",
    "Title": {
        "default": "User Login (Obsolete)"
    },
    "HelpText": {
        "default": "<span class=\"text-warning\" style=\"display: block\">OBSOLETE - This action has been marked as obsolete. Consider using User Management &gt; User Login.</span> This action will search in the form for the username and email fields, which can be either of the type found under the User tab or simple Text boxes with the ID set to username/password. The Password field must be of type 'Password', which is found under the Security tab. On successfull login, access user info using the [User:*] tokens (for example [User:UserID] or [User:FirstName])."
    },
    "TypeStr": "avt.ActionForm.Core.Actions.UserLogin, avt.ActionForm.Core",
    "Settings": {
        "Group": "User Management"
    },
    "Parameters": [
        {
            "Id": "TryEmailAsUsername",
            "Title": {
                "default": "Try Email as Username"
            },
            "HelpText": {
                "default": "When this option is enabled, Action Form looks for email - password match."
            },
            "Type": "Boolean"
        }
    ]
}]