[{
    "Id": "RedirectToUrl",
    "Title": {
        "default": "Redirect to URL"
    },
    "TypeStr": "DnnSharp.Common.Actions.Redirect.RedirectToUrlAction, DnnSharp.Common.Actions",
    "Final": true,
    "Settings": {
        "Group": "Redirect"
    },
    "Parameters": [
        {
            "Id": "Url",
            "Title": {
                "default": "URL"
            },
            "HelpText": {
                "default": "Can contain form tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>. <br />Writing the anchor tags without the whole url will not generate a page refresh. For example: #Id14"
            },
            "Type": "Text"
        },
        {
            "Id": "EscapeUrl",
            "Title": {
                "default": "Escape URL special characters in tokens"
            },
            "HelpText": {
                "default": "Enable this option to escape special URL characters from the token results in the URL."
            },
            "Type": "Boolean"
        },
        {
            "Id": "OpenInPopup",
            "Title": {
                "default": "Open in Popup"
            },
            "HelpText": {
                "default": "Enable this option to open in a poupup. Note that you might want to arrange your URLs a bit to look nice inside popups. More instructions in <a href=\"http://action-form.dnnsharp.com/form-actions/redirect\" tabindex=\"-1\">Action Form documentation.</a>"
            },
            "Type": "Boolean",
            "IsPublic": false,
            "Settings": {
                "ShowCondition": "!itemParameters[\"OpenInNewTab\"]"
            }
        },
        {
            "Id": "PopupTitle",
            "Title": {
                "default": "Popup Title"
            },
            "HelpText": {
                "default": "Optionally, provide a title for the popup."
            },
            "Type": "Text",
            "Settings": {
                "ShowCondition": "itemParameters[\"OpenInPopup\"]"
            }
        },
        {
            "Id": "OpenInNewTab",
            "Title": {
                "default": "Open in new tab"
            },
            "HelpText": {
                "default": "Enable this option to open in a new tab. <br /> This option is not compatible with the Safari browser; it will open the URL in the same tab."
            },
            "Type": "Boolean",
            "Settings": {
                "ShowCondition": "!itemParameters[\"OpenInPopup\"]"
            }
        },
        {
            "Id": "ForceDownload",
            "Title": {
                "default": "Force Download"
            },
            "HelpText": {
                "default": "Enable this option to force a download when the redirect is made to a file. More instructions in <a href=\"http://action-form.dnnsharp.com/form-actions/redirect\" tabindex=\"-1\">Action Form documentation.</a>"
            },
            "Type": "Boolean"
        }
    ]
}]