[{
    "Id": "ShowMessage",
    "Title": {
        "default": "Display Message"
    },
    "HelpText": {
        "default": "Displays a confirmation message. The user has to click a button before the rest of the following actions, if any, are executed."
    },
    "TypeStr": "avt.ActionForm.Core.Actions.ShowMessage, avt.ActionForm.Core",
    "Final": true,
    "Settings": {
        "Group": "Message"
    },
    "Parameters": [
        {
            "Id": "Message",
            "Title": {
                "default": "Message"
            },
            "HelpText": {
                "default": "Specify"
            },
            "Type": "RichText"
        },
        {
            "Id": "ButtonsList",
            "Title": {
                "default": "Action Buttons"
            },
            "HelpText": {
                "default": "Optionally, bind one or more buttons from the form. Watch out for referencing buttons recursively."
            },
            "DefaultValue": {
                "default": "[]"
            },
            "Type": "MultipleFieldSelect",
            "Settings": {
                "FieldType": "button"
            }
        }
    ]
}]