[{
    "Id": "LoadEntryByUserId",
    "Title": {
        "default": "Load Entry (by User ID)"
    },
    "HelpText": {
        "default": "This action looks up the most recent submission of a user and redirects to the form with a specific record already loaded. Submiting the form will update that record instead of creating a new one."
    },
    "TypeStr": "avt.ActionForm.Core.Actions.Context.LoadEntryByUserId, avt.ActionForm.Core",
    "Settings": {
        "Group": "Context"
    },

    "Parameters": [
        {
            "Id": "UserId",
            "Title": {
                "default": "UserId"
            },
            "HelpText": {
                "default": "An user ID, username or email address that identifies the user. Leave blank to load data for current user. Can contain form tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
            },
            "Type": "Text"
        }
    ]
}]