[{
    "Id": "RedirectToFile",
    "Title": {
        "default": "Send File for Download"
    },
    "HelpText": {
        "default": ""
    },
    "TypeStr": "DnnSharp.Common.Actions.Redirect.RedirectToFileAction, DnnSharp.Common.Actions",
    "Final": true,
    "Settings": {
        "Group": "Redirect"
    },
    "Parameters": [
        {
            "Id": "PortalFile",
            "Title": {
                "default": "Portal File"
            },
            "Type": "FilePicker",
            "Settings": {
                "Mode": "Single"
            }
        },
        {
            "Id": "OpenInPopup",
            "Title": {
                "default": "Open in Popup"
            },
            "HelpText": {
                "default": "Enable this option to open in a poupup. Note that you might want to arrange your URLs a bit to look nice inside popups."
            },
            "Type": "Boolean",
            "Settings": {
                "ShowCondition": "!itemParameters[\"OpenInNewTab\"]"
            }
        },
        {
            "Id": "PopupTitle",
            "Title": {
                "default": "Popup Title"
            },
            "HelpText": {
                "default": "Optionally, provide a title for the popup."
            },
            "Type": "Text",
            "Settings": {
                "ShowCondition": "itemParameters[\"OpenInPopup\"]"
            }
        },
        {
            "Id": "OpenInNewTab",
            "Title": {
                "default": "Open in new tab"
            },
            "HelpText": {
                "default": "Enable this option to open in a new tab. Note that you might want to arrange your URLs a bit to look nice inside the new tab."
            },
            "Type": "Boolean",
            "Settings": {
                "ShowCondition": "!itemParameters[\"OpenInPopup\"]"
            }
        }
    ]
}]