[{
    "Id": "LoadState",
    "Title": {
        "default": "Load State"
    },
    "HelpText": {
        "default": "Loads previously saved state."
    },
    "TypeStr": "avt.ActionForm.Core.Actions.State.LoadState, avt.ActionForm.Core",
    "Settings": {
        "Group": "Form State"
    },
    "Parameters": [
        {
            "Id": "Key",
            "Title": {
                "default": "Key"
            },
            "HelpText": {
                "default": "Select a key to load from. Note that the scope is global, data can be shared between any two Action Forms. Supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>"
            },
            "Type": "Text"
        },
        {
            "Id": "SaveLocation",
            "Title": {
                "default": "Storage Location"
            },
            "HelpText": {
                "default": "Select where to load the saved data from. Session data is lost after a period of inactivity, usually around 20 minutes. Browser cookies usually last longer."
            },
            "Type": "Select",
            "Settings": {
                "Items": {
                    "Session": {
                        "default": "Server Session"
                    },
                    "Cookies": {
                        "default": "Browser Cookies"
                    },
                    "Any": {
                        "default": "Any"
                    }
                }
            }
        },
        {
            "Id": "SerilazeToReports",
            "Title": {
                "default": "Save data in Reports"
            },
            "HelpText": {
                "default": "Check this if you want to save the data from the previous forms into the reports."
            },
            "DefaultValue": {
                "default": "True"
            },
            "Type": "Boolean"
        }
    ]
}]