[{
    "Id": "AutoSaveState",
    "Title": {
        "default": "Auto Save State"
    },
    "HelpText": {
        "default": "Add this action to Init event to auto save form state in browser cookies. Load it back later by using LoadState action (make sure Storage Location is set to Browser Cookies), normally also placed in the initialization event."
    },
    "TypeStr": "avt.ActionForm.Core.Actions.State.AutoSaveState, avt.ActionForm.Core",
    "Settings": {
        "Group": "Form State"
    },
    "Parameters": [
        {
            "Id": "Key",
            "Title": {
                "default": "Key"
            },
            "HelpText": {
                "default": "Select a key to save under. Note that the scope is global, data can be shared between any two Action Forms. <b>Important!</b> This is saved in cookies. So, when using LoadState action, make sure to load from cookies. Supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>"
            },
            "Type": "Text"
        }
    ]
}]