[{
    "Id": "FilesInFolder",
    "Title": {
        "default": "FilesInFolder"
    },
    "TypeStr": "DnnSharp.Common.ItemDataSources.FilesInFolder, DnnSharp.Common",
    "Conditions": [],
    "Settings": {},
    "Parameters": []
}, {
    "Id": "PageContentTemplates",
    "Title": {
        "default": "PageContentTemplates"
    },
    "TypeStr": "DnnSharp.Common.ItemDataSources.PageContentTemplates, DnnSharp.Common",
    "Conditions": [],
    "Settings": {},
    "Parameters": []
}, {
    "Id": "PortalFiles",
    "Title": {
        "default": "PortalFiles"
    },
    "TypeStr": "DnnSharp.Common.ItemDataSources.PortalFiles, DnnSharp.Common",
    "Conditions": [],
    "Settings": {},
    "Parameters": [{
        "Id": "Folder",
        "Title": {
            "default": "Folder"
        },
        "HelpText": {
            "default": "Choose a folder or leave blank to show all portal files or type in the FolderId."
        },
        "Type": "Select",
        "IsPublic": false,
        "Settings": {
            "DataSource": "PortalFolderList",
            "SupportsExpressions": "true"
        },
        "Groups": [],
        "Parameters": [],
        "Conditions": []
    }, {
        "Id": "FileTypes",
        "Title": {
            "default": "File Types"
        },
        "HelpText": {
            "default": "Optionally provide a series of file types to limit the upload to these specific types. For example \"txt,cs,doc\"."
        },
        "Type": "Text",
        "IsPublic": false,
        "Settings": {},
        "Groups": [],
        "Parameters": [],
        "Conditions": []
    }]
}, {
    "Id": "PortalFolders",
    "Title": {
        "default": "PortalFolders"
    },
    "TypeStr": "DnnSharp.Common.ItemDataSources.PortalFolders, DnnSharp.Common",
    "Conditions": [],
    "Settings": {},
    "Parameters": []
}, {
    "Id": "PortalFolderList",
    "Title": {
        "default": "PortalFolderList"
    },
    "TypeStr": "DnnSharp.Common.ItemDataSources.PortalFolderList, DnnSharp.Common",
    "Conditions": [],
    "Settings": {},
    "Parameters": []
}, {
    "Id": "Containers",
    "Title": {
        "default": "Containers"
    },
    "TypeStr": "DnnSharp.Common.ItemDataSources.Containers, DnnSharp.Common",
    "Conditions": [],
    "Settings": {},
    "Parameters": []
}, {
    "Id": "AdminPages",
    "Title": {
        "default": "AdminPages"
    },
    "TypeStr": "DnnSharp.Common.ItemDataSources.PortalPages, DnnSharp.Common",
    "Conditions": [],
    "Settings": {
        "admin": "true"
    },
    "Parameters": []
}, {
    "Id": "HostPages",
    "Title": {
        "default": "HostPages"
    },
    "TypeStr": "DnnSharp.Common.ItemDataSources.PortalPages, DnnSharp.Common",
    "Conditions": [],
    "Settings": {
        "host": "true"
    },
    "Parameters": []
}, {
    "Id": "Portals",
    "Title": {
        "default": "Portals"
    },
    "TypeStr": "DnnSharp.Common.ItemDataSources.Portals, DnnSharp.Common",
    "Conditions": [],
    "Settings": {},
    "Parameters": []
}, {
    "Id": "Modules",
    "Title": {
        "default": "Modules"
    },
    "TypeStr": "DnnSharp.Common.ItemDataSources.Modules, DnnSharp.Common",
    "Conditions": [],
    "Settings": {},
    "Parameters": []
}, {
    "Id": "DnnModules",
    "Title": {
        "default": "DnnModules"
    },
    "TypeStr": "DnnSharp.Common.ItemDataSources.ModulesTypes, DnnSharp.Common",
    "Conditions": [],
    "Settings": {},
    "Parameters": []
}, {
    "Id": "Regions",
    "Title": {
        "default": "Regions"
    },
    "TypeStr": "DnnSharp.Common.ItemDataSources.DnnList, DnnSharp.Common",
    "Conditions": [],
    "Settings": {
        "ListName": "Region",
        "BaseKey": "Country"
    },
    "Parameters": []
}, {
    "Id": "RecurringPayments",
    "Title": {
        "default": "RecurringPayments"
    },
    "TypeStr": "DnnSharp.Common.ItemDataSources.FromEnum, DnnSharp.Common",
    "Conditions": [],
    "Settings": {
        "Enum": "DnnSharp.Common.Actions.ePayPalRecurringInterval"
    },
    "Parameters": []
}, {
    "Id": "DbTables",
    "Title": {
        "default": "DbTables"
    },
    "TypeStr": "DnnSharp.Common.ItemDataSources.DbTables, DnnSharp.Common",
    "Conditions": [],
    "Settings": {},
    "Parameters": []
}, {
    "Id": "BgPatterns",
    "Title": {
        "default": "BgPatterns"
    },
    "TypeStr": "DnnSharp.Common.ItemDataSources.PortalFiles, DnnSharp.Common",
    "Conditions": [],
    "Settings": {
        "FileTypes": ".png,.gif,.jpg",
        "RestrictFolder": "[AppUrl]/static/bg/patterns"
    },
    "Parameters": []
}, {
    "Id": "BgImages",
    "Title": {
        "default": "BgImages"
    },
    "TypeStr": "DnnSharp.Common.ItemDataSources.PortalFiles, DnnSharp.Common",
    "Conditions": [],
    "Settings": {
        "FileTypes": ".png,.gif,.jpg",
        "RestrictFolder": "[AppUrl]/static/bg/images"
    },
    "Parameters": []
}, {
    "Id": "DnnEmailTemplatesSource",
    "Title": {
        "default": "DnnEmailTemplatesSource"
    },
    "TypeStr": "DnnSharp.Common.ItemDataSources.DnnEmailTemplatesSource, DnnSharp.Common",
    "Conditions": [],
    "Settings": {},
    "Parameters": []
}]