[{
    "Id": "ModuleItems",
    "Title": {
        "default": "ModuleItems"
    },
    "TypeStr": "DnnSharp.Common.ItemDataSources.ModuleItems, DnnSharp.Common",
    "Conditions": [],
    "Settings": {},
    "Parameters": [{
        "Id": "DesktopModuleFriendlyName",
        "Title": {
            "default": "DesktopModule FriendlyName"
        },
        "Type": "Text",
        "IsPublic": false,
        "Settings": {},
        "Groups": [],
        "Parameters": [],
        "Conditions": []
    }, {
        "Id": "Settings",
        "Title": {
            "default": "Settings"
        },
        "Type": "NameValueCollection",
        "IsPublic": false,
        "Settings": {
            "NameColumn": "Name",
            "ValueColumn": "Value",
            "ButtonName": "Add Setting"
        },
        "Groups": [],
        "Parameters": [],
        "Conditions": []
    }]
}]