[{
    "Id": "Roles",
    "Title": {
        "default": "Roles"
    },
    "TypeStr": "DnnSharp.Common.ItemDataSources.PortalRoles, DnnSharp.Common",
    "Conditions": [],
    "Settings": {
        "OrderBy": "text"
    },
    "Parameters": [{
        "Id": "GlobalRoles",
        "Title": {
            "default": "Global Roles"
        },
        "HelpText": {
            "default": "Include the global roles along with the current portal roles, like SuperUser, All Users and Unauthenticated Users."
        },
        "Type": "Boolean",
        "IsPublic": false,
        "Settings": {},
        "Groups": [],
        "Parameters": [],
        "Conditions": []
    }],
    "HelpText": {
        "default": "Also generates the following tokens: [FieldName:Description], [FieldName:RoleGroupName], [FieldName:IsPublic], [FieldName:AutoAssignment], [FieldName:SecurityMode], [FieldName:Status]."
    }
}]