<h2>Get content-items list of Feedback-items with REST</h2>
<p>
    The following demo shows how to use simple JavaScript to retrieve all Feedback items in this app. It will also offer a delete-button to delete again. 
</p>
<p>
    This uses jQuery to do the ajax and will add the returned items to the ol-tags. 
</p>
<p>
    Note that it works for admins by default. The permissions have not been opened, so it wouldn't work for non-admins. To make it work for visitors you have to allow read-permissions (to get the list) and delete permissions (to delete) for anonymous users (or users with view permissions). This is configured on the content-types - for more infos read <a href="http://2sxc.org/help?tag=permissions">Permissions Help</a>. 
</p>
<h2>These is where the feedback items with delete will appear</h2>




<div sxc-app="AngularRestDemos" id="app-[Module:ModuleId]" ng-controller="ManageFeedback as vm">
    <div>{{ vm.message }}</div>
    <ol>
        <li ng-repeat="c in vm.items"> {{ c.Title }} - <a ng-click="vm.delete(c)">delete</a></li>
    </ol>
</div>




<!-- this includes the $2sxc helpers necessary to work --> 
<script src="/desktopmodules/tosic_sexycontent/js/2sxc.api.min.js"></script>

<!-- this script just has some tutorial-helpers, not relevant to understand the tutorial code -->
<script src="[App:Path]/assets/tutorial-helpers.js"></script>
<script src="/DesktopModules/ToSIC_SexyContent/Js/AngularJS/angular.min.js" data-enableoptimizations="101"></script>
<script src="/DesktopModules/ToSIC_SexyContent/Js/AngularJS/2sxc4ng.min.js" data-enableoptimizations="110"></script>
<script src="[App:Path]/assets/AngularRestDemosController_21-25.js" data-enableoptimizations="120"></script>
