[
    {
        "Id": "avt.ActionForm.Core.AppServiceRegistrator",
        "ServiceType": "DnnSharp.Common2.Services.IServiceRegistrator,DnnSharp.Common2",
        "ImplementationType": "avt.ActionForm.Core.ServiceRegistrator,avt.ActionForm.Core",
        "ServiceKey": "",
        "ContainerName": "root",
        "Reuse": "Singleton"
    }
]