{
  "DisplayName": "Bootstrap 3 (Obsolete)",
  "RenderEngine": "Razor",
  "UiLibrary": "BS3",

  // Paths can be:
  //   - relative to template folder, for example js/some.js
  //   - relative to website root, for example ~/js/some.js or /js/some.js (the tilde is important when running in an IIS virtual dir)
  //   - relative to shared resources, for example [SharedUrl]/js/some.js
  "JsIncludes": ["script.js"],

  "CssIncludes": [
    "[commonUrl]/bootstrap341/css/bootstrap.min.css", "[TemplatesUrl]/bootstrap-razor/styles.min.css"
  ],

  "RootClass": "bstrap30",

  "RazorViewsFolder": "bootstrap-razor",
  "Controls": [
    {
      "Name": "button",
      "ViewName": "Controls/Button",
      "NoLabel": true,
      "NoDefaultContainer": true
    },
    {
      "Name": "open-text",
      "ViewName": "Controls/Text"
    },
    {
      "Name": "open-text-large",
      "ViewName": "Controls/Textarea"
    },
    {
      "Name": "open-text-rich",
      "ViewName": "Controls/Textarea"
    },
    {
      "Name": "open-password",
      "ViewName": "Controls/Text"
    },
    {
      "Name": "open-email",
      "ViewName": "Controls/Text"
    },
    {
      "Name": "open-number",
      "ViewName": "Controls/Text"
    },
    {
      "Name": "item-picker-tree-view",
      "ViewName": "Controls/ItemPickerTreeView"
    },
    {
      "Name": "dropdown-checkboxes",
      "ViewName": "Controls/DropdownWithCheckboxes",
      "NoDefaultContainer": true
    },
    {
      "Name": "dropdown-autocomplete",
      "ViewName": "Controls/DropdownWithAutocomplete"
    },
    {
      "Name": "button-group",
      "ViewName": "Controls/ButtonGroup",
      "NoLabel": true,
      "NoDefaultContainer": true
    },
    {
      "Name": "hiden-constant",
      "ViewName": "Controls/Hidden",
      "NoLabel": true,
      "NoDefaultContainer": true
    },
    {
      "Name": "static-text",
      "ViewName": "Controls/StaticText",
      "NoLabel": true,
      "NoDefaultContainer": true
    },
    {
      "Name": "closed-multiple-dropdown",
      "ViewName": "Controls/MultipleChoiceWithDropdown"
    },
    {
      "Name": "closed-multiple-radio",
      "ViewName": "Controls/MultipleChoiceWithRadioboxes",
      "NoDefaultContainer": true
    },
    {
      "Name": "upload.single",
      "ViewName": "Controls/SingleFileUpload",
      "NoDefaultContainer": true
    },
    {
      "Name": "upload.multi",
      "ViewName": "Controls/MultiFileUpload",
      "NoDefaultContainer": true
    },
    {
      "Name": "closed-truefalse",
      "ViewName": "Controls/Checkbox",
      "NoLabel": true,
      "NoDefaultContainer": true
    },
    {
      "Name": "image-button",
      "ViewName": "Controls/ImageButton",
      "NoLabel": true,
      "NoDefaultContainer": true
    },
    {
      "Name": "datetime-flatpickr",
      "ViewName": "Controls/DateTimePicker"
    },
    {
      "Name": "date-flatpickr",
      "ViewName": "Controls/DateTimePicker"
    },
    {
      "Name": "time-flatpickr",
      "ViewName": "Controls/DateTimePicker"
    },
    {
      "Name": "phone",
      "ViewName": "Controls/Phone"
    },
    {
      "Name": "closed-multiple-checkbox",
      "ViewName": "Controls/CheckboxList",
      "NoDefaultContainer": true
    },
    {
      "Name": "address-country",
      "ViewName": "Controls/Country"
    },
    {
      "Name": "address-region",
      "ViewName": "Controls/Region",
      "NoDefaultContainer": true
    },
    {
      "Name": "address-usstate",
      "ViewName": "Controls/MultipleChoiceWithDropdown"
    },
    {
      "Name": "currency-v2",
      "ViewName": "Controls/Currency"
    },
    {
      "Name": "tags-input",
      "ViewName": "Controls/Tags"
    },
    {
      "Name": "open-username",
      "ViewName" : "Controls/Text"
    },
    {
      "Name": "static-title",
      "ViewName" : "Controls/Title",
      "NoLabel": true
    },
    {
      "Name": "googlemaps",
      "ViewName": "Controls/GoogleMaps"
    },
    {
      "Name": "googleplaces",
      "ViewName": "Controls/GooglePlaces"
    },
    {
      "Name": "clock",
      "ViewName" : "Controls/Clock"
    },
    {
      "Name": "starrating",
      "ViewName" : "Controls/StarRating"
    },
    {
      "Name": "static-image",
      "ViewName": "Controls/DisplayImage",
      "NoLabel": true
    },
    {
      "Name": "progressbaranimated",
      "ViewName" : "Controls/ProgressBar"
    },
    {
      "Name": "open-dnn-editor",
      "ViewName": "Controls/DnnTextEditor"
    },
    {
      "Name": "agreement-links",
      "ViewName": "Controls/AgreementLinks",
      "NoLabel": true,
      "NoDefaultContainer": true
    },
    {
      "Name": "device-fingerprint",
      "ViewName" : "Controls/DeviceFingerprint",
      "NoLabel": true
    },
    {
      "Name": "progressbar",
      "ViewName": "Controls/SavingAnimation",
      "NoLabel": true
    },
    {
      "Name": "recaptcha",
      "ViewName": "Controls/Recaptcha"
    },
    {
      "Name": "recaptchaV3",
      "ViewName": "Controls/RecaptchaV3",
      "NoLabel": true
    },
    {
      "Name": "image-editor",
      "ViewName": "Controls/ImageEditor"
    },
    {
      "Name": "color-picker",
      "ViewName": "Controls/ColorPicker"
    },
    {
      "Name": "slider",
      "ViewName": "Controls/Slider"
    },
    {
      "Name": "premissions",
      "ViewName": "Controls/PermissionGrid"
    },
    {
      "Name": "dynamic-field-container",
      "ViewName": "Controls/DynamicFieldContainer",
      "NoLabel": true,
      "NoDefaultContainer": true
    },
    {
      "Name": "captcha",
      "ViewName": "Controls/Captcha"
    },
    {
      "Name": "file-manager",
      "ViewName": "Controls/FileManager",
      "NoLabel": true,
      "NoDefaultContainer": true
    },
    {
      "Name": "trumbowyg",
      "ViewName": "Controls/Trumbowyg"
    },
    {
      "Name": "sortable-input",
      "ViewName": "Controls/SortableInput"
    },
    {
      "Name": "date-and-time",
      "ViewName": "Controls/DateAndTimeDeprecatedMessage"
    }
  ]
}