[
  {
    "Id": "ExecuteActionsAsync",
    "Title": {
      "default": "Execute Actions Asynchronously"
    },
    "HelpText": {
      "default": "Executes a list of actions on a different thread, so execution is not blocke. Note that the result of execting the actions can't be sent back to the browser. Use the On Error actions to handle unexpected errors."
    },
    "TypeStr": "DnnSharp.Common.Actions.Flow.ExecuteActionsAsync, DnnSharp.Common.Actions",
    "Settings": {
      "Group": "Flow"
    },
    "Parameters": [
      {
        "Id": "ActionList",
        "Type": "ActionList",
        "Title": {
          "default": "Actions"
        },
        "HelpText": {
          "default": "Define the list of actions to execute asynchronously."
        },
        "Settings": {
          "Event": "click"
        }
      }
    ]
  }
]
