/* Your CSS code here */

@charset "utf-8";
/*DNN control*/
#ControlBar, #ControlBar #ControlEditPageMenu > li > a {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

#ControlBar_ControlPanel a, .jspPane li {
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
}


.actionMenu li {
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

.dnnDropDownList a {
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

.dnnForm ul, .dnnActions ul {
    list-style: none !important;
}

    .dnnForm ul li, .dnnActions ul {
        list-style: none !important;
    }

.subNav.advanced dl ul li {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

#dnnModuleDigitalAssetsSelectionToolbar {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.dnnFileUploadScope .dnnFormItem span
{
    width: 80px;
}

/*Hide DNN Icon*/
.ServiceIcon.professional {
    display: none;
}

.Normal,
.NormalDisabled,
.NormalDeleted {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: normal;
    background-color: #f5f5f5;
    color: #70727a;
}

/* Forms */
.c-form h3.section-title
{
    font-family: "Open Sans", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 23px;
    color: #505358;
    margin: 0 0 20px;
    line-height: 35px;
    letter-spacing: 1px;
    padding-top: 0;
    padding-bottom: 0;
}
.c-form .form-control {
    border-radius: 2px;
    background-color: #f1f2f3 !important;
    border: none;
    font-size: 14px !important;
    height: 40px;
    box-shadow: none;
}
.c-form .form-control:focus {
    background-color: #ededef !important;
    border: none;
    outline: 0;
    box-shadow: none;
}
.c-form select.form-control {
    border-radius: 2px !important;
    color: #606367 !important;
    padding: 5px !important;
    border: none !important;
    background-color: #f1f2f3 !important;
    box-shadow: none !important;
}
.c-form textarea.form-control {
    height: auto;
}
.form-message-error,
.has-error .error {
    color: #B94321;
    font-size: 14px;
    font-weight: 400;
    margin-top: 3px;
}
.c-form {
    width: 100%;
}
.c-form input,
.c-form textarea {
    width: 100%;
    margin-bottom: 15px !important;
    padding: 5px !important;
    text-indent: 5px !important;
    outline: none;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    color: #606367 !important;
    background: #f1f2f3 !important;
    border: none !important;
    box-shadow: none !important;
}
.c-form input:hover,
.c-form textarea:hover,
.c-form input:focus,
.c-form textarea:focus {
    box-shadow: none;
    border: none;
    background-color: #ededef !important;
}
.c-form input[type=radio]:not(.rating-input),
.c-form input[type=checkbox] {
    width: auto;
    margin-right: 5px;
    position: relative;
    top:2px;
}
.c-form label:not(.rating-label) {
    font-weight: 400;
    margin-bottom: 20px;
    display: block;
}
.form-required {
    color: #C51010;
    font-weight: 400;
    vertical-align: middle;
    font-size: 13px;
}
.c-form .form-remember {
    display: inline-block;
    margin-right: 15px;
}

html .bstrap3-material .btn-info
{
    display: inline-block !important;
    background-color: rgb(252,200,19) !important;
    font-family: "Open Sans", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif  !important;
    color: #FFF  !important;
    border-radius: 20px  !important;
    font-weight: 400  !important;
    text-transform: uppercase  !important;
    font-size: 14px  !important;
    line-height: 14px  !important;
    letter-spacing: 1.5px  !important;
    padding: 14px 28px  !important;
}

.nav-tabs
{
    margin-left: 0;
}
/*=================== One Column Skin =========================*/
#wrapper .banner-pane {
    min-height: 200px !important;
}



.menu-search .btn-search {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    color: rgb(252,200,19);
    border: none;
    font-size: 14px;
}



.section ul {
    padding-left: 40px;
    margin-left: 0;
}


.section ul li {
    list-style-type: disc;
}

.section ul ul li {
    list-style-type: square;
}

.section ul ul ul li {
    list-style-type: circle;
}
/*===================== Admin Skin =========================*/
#wrapper.admin .content-pane {
    margin: 30px 0;
}

#wrapper.admin .header-floating {
    position: relative;
}
