[
    {
        "Id": "Items",
        "TypeStr": "DnnSharp.Common.ItemDataSources.Items, DnnSharp.Common",
        "Parameters": [
            {
                "Id": "Items",
                "Title": {
                    "default": "Items List"
                },
              "Type": "Textarea",
              "HelpText": {
                  "default": "Input one item per line. If you need to provide different text and value, then separate them by pipe. Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>."
              }
            }
        ]
    }
]