[
    {
        "Id": "SQL Query",
        "TypeStr": "DnnSharp.Common.ItemDataSources.SqlQuery, DnnSharp.Common",
        "Parameters": [
            {
                "Id": "ConnectionString",
                "Title": {
                    "default": "Connection String"
                },
                "Type": "Text",
                "HelpText": {
                    "default": "Specify a connection string or the name of a connection string form web.config. Leave this field empty to use the connection string from DNN."
                }
            },
            {
                "Id": "QueryTimeout",
                "Title": {
                    "default": "Query Timeout"
                },
                "HelpText": {
                    "default": "Set a time in seconds after which a query will time out. The default is set to 10 minutes or 600 seconds. This parameter can't be negative or under 10 seconds. Can contain Tokens."
                },
                "Type": "Text"
              },
            {
                "Id": "SqlQuery",
                "Title": {
                    "default": "SQL Query"
                },
                "Type": "Code",
                "HelpText": {
                    "default": "SQL to execute. Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>"
                },
                "Settings": {
                    "CodeMirrorMode": "sql"
                }
            },
            {
                "Id": "TokenizeText",
                "Title": {
                    "default": "Tokenize Text"
                },
                "Type": "Boolean",
                "HelpText": {
                    "default": "Tokenize the text of the item. This option is useful when you want the text shown to be dynamic (I.E. translation) while the value remains untouched. This works only when both the value and text properties are mapped. The text value can be a <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a> token or a field inside Action Form that has a value at the Init stage. WARNING: We don't recommend using this option when the number of items is exceedingly high and we advise using it in conjunction with MyTokens token cache option."
                }
            }
        ]
    }
]
