@import "variables";

/*
    bs-glyphicons-list is used to pick a glypicon in places such as Onboarding/Guides/Step/Buttons
*/

.bstrap3-material .papp-admin {
    .bs-glyphicons-list {
        padding-left: 0;
        list-style: none;
    }


    .bs-glyphicons li {
        width: 12.5%;
        font-size: 12px;
        float: left;
        height: 115px;
        padding: 10px;
        line-height: 1.4;
        text-align: center;
        background-color: #f9f9f9;
        border: 1px solid #fff;
        cursor: pointer;
    }

    .bs-glyphicons li:hover {
        color: #fff;
        background-color: #563d7c;
    }
}
