.accordion-container {
	width: 100%;
}
.accordion-container .accordion-tab {
	width: 100%;
	border-bottom: 1px solid #999;
	border-top: 0;
	position: relative;
	z-index: 2;
	padding: 10px 15px;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	background: var(--theme-neutral);
}
.accordion-container .accordion-tab span {
	margin: 0;
	color: #333;
	float: left;
	font-size: 18px;
	pointer-events: none;
	line-height: 1.666;
	font-weight: normal;
}
.accordion-container .accordion-tab * {
	pointer-events: none;
}
.accordion-container .accordion-tab h4 {
	margin: 0 2.5rem 0 0;
	font-size: 1rem;
}
.accordion-container .accordion--indicator {
    position: absolute;
    top: 50%;
    right: 1em;
    transform: translateY(-50%);
	width: 1.25em;
	height: 1.25em;
	overflow: hidden;
}
.accordion-container .accordion--indicator .icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
	overflow: hidden;
	transition: all 0.25s ease;
}
.accordion-container .accordion-tab[aria-expanded='true'] .accordion--indicator .icon.icon__plus {
	opacity: 0;
	top: -100%;
}
.accordion-container .accordion-tab[aria-expanded='true'] .accordion--indicator .icon.icon__minus {
	opacity: 1;
}
.accordion-container .accordion-tab[aria-expanded='false'] .accordion--indicator .icon__minus {
	top: 100%;
}
.accordion-container .accordion-content {
	overflow: hidden;
	-webkit-transition: max-height 0.25s linear;
	-o-transition: max-height 0.25s linear;
	transition: max-height 0.25s linear;
	background: #fafafa;
}
.accordion-container .accordion-content[aria-hidden='false'] {
	-webkit-transition: max-height 0.25s linear;
	-o-transition: max-height 0.25s linear;
	transition: max-height 0.25s linear;
	width: 100%;
	position: relative;
	z-index: 1;
}
.accordion-container .accordion-content[aria-hidden='true'] {
	max-height: 0 !important;
}
.accordion-container .accordion-content .accordion-content--wrapper {
	padding: 1rem;
	border: 1px solid #ccc;
	border-top: 3px solid #999;
}
