[{
    "Id": "CSV",
    "Title": {
        "default": "Create CSV from List"
    },
    "HelpText": {
        "default": "Serializes a list of entities from the context into CSV (Comma Separated Values) format."
    },
    "TypeStr": "DnnSharp.Common.Actions.Serialization.Csv, DnnSharp.Common.Actions",
    "Settings": {
        "Group": "Documents",
        "Bulk": "True"
    },
    "Parameters": [{
        "Id": "SpecialSerializationConditions",
        "Conditions": [{
            "TypeStr": "DnnSharp.Common.Conditions.IsForModule,DnnSharp.Common",
            "Settings": {
                "AppCodes": ["AGRID"]
            }
        }],
        "Type": "StaticHelpText",
        "HelpText": {
            "default": "<span class=\"label label-success\">HINT:</span> Manage the Grid Fields that will be serialized by using the [SpecialContext:SerializeCSV] token into a Field Condition. The most common scenario is to programmatically hide an entire column and append true only into the serialization context, such as: [MyCondition] == \"hide\" || [SpecialContext:SerializeCSV]. Another usefull token is [SpecialContext:None] that can be used to apply conditions programmatically on grid fields."
        }
    }, {
        "Id": "EntityName",
        "Title": {
            "default": "List Name"
        },
        "HelpText": {
            "default": "Name of the list that will be serialized to CSV. Can contain tokens."
        },
        "Type": "Text",
        "Validation": [
            {
                "Type": "Required"
            }
        ]
    }, {
        "Id": "Fields",
        "Title": {
            "default": "Fields"
        },
        "HelpText": {
            "default": "Provide a list of fields to serialize."
        },
        "Type": "NameValueCollection",
        "Settings": {
            "NameColumn": "CSV Name",
            "ValueColumn": "Value",
            "ButtonName": "Add Field",
            "ShowCondition": "!itemParameters['IncludeAllFields']",
            "SupportsOrdering": true
        }
    }, {
        "Id": "IncludeAllFields",
        "Title": {
            "default": "Include All Fields"
        },
        "HelpText": {
            "default": "Or, select this option to serialize all fields."
        },
        "Type": "Boolean",
    }, {
        "Id": "RemoveFieldNames",
        "Title": {
            "default": "Remove Field Names"
        },
        "HelpText": {
            "default": "Remove the field names from the serialization."
        },
        "Type": "Boolean"
    }, {
        "Id": "FieldSeparator",
        "Title": {
            "default": "Field Separator"
        },
        "HelpText": {
            "default": "Use semicolon if you open CSV Files with Excel and your region Format is set to other than English (United States). Left unselected, defaults to comma. You can use the expression setting to dynamically pass a delimiter from the given list to the action, you can use both the punctuation mark (i.e. ';') or the noun that describes that punctuation mark (i.e. 'semicolon') as values when passing the delimiter as a token, this applies to all options except 'tab'. Supports <a href='http://www.dnnsharp.com/dnn/modules/my-custom-tokens' target='_blank' tabindex='-1'>My Tokens</a>."
        },
        "Type": "Select",
        "Settings": {
            "Items": {
                "comma": {
                    "default": ", i.e. comma"
                },
                "semicolon": {
                    "default": "; i.e. semicolon"
                },
                "tab": {
                    "default": "tab"
                },
                "pipe": {
                    "default": "| i.e. pipe"
                },
                "colon": {
                    "default": ": i.e. colon"
                }
            },
            "SupportsExpressions": "true"
        },
        "Validation": [
            {
                "Type": "Required"
            }
        ]
    }, {
        "Id": "inlineSeparator",
        "Title": {
            "default": "Add inline separetor"
        },
        "HelpText": {
            "default": "Inserts 'sep=<spearator>' on the first line of Excel to specify '<spearator>' as a CSV separator."
        },
        "Type": "Boolean"
    }, {
        "Id": "Criteria",
        "Title": {
            "default": "Criteria"
        },
        "HelpText": {
            "default": "Provide criteria to determine which entries are serialized."
        },
        "Type": "NameValueCollection",
        "Settings": {
            "NameColumn": "Property",
            "ValueColumn": "Value",
            "ButtonName": "Add Criteria"
        }
    }, {
        "Id": "StorageLocation",
        "Title": {
            "default": "Storage Location"
        },
        "DefaultValue": {
            "default": "File"
        },
        "HelpText": {
            "default": "Select the location where the output is stored."
        },
        "Type": "Select",
        "Settings": {
            "DataSource": "DnnSharp.Common.Actions.Serialization.eStorageLocation, DnnSharp.Common.Actions",
            "SupportsExpressions": "true"
        },
        "Validation": [
            {
                "Type": "Required"
            }
        ]
    }, {
        "Id": "OutputTokenName",
        "Title": {
            "default": "Output Token Name"
        },
        "HelpText": {
            "default": "Input a token name that will hold the resulting CSV string."
        },
        "Type": "Text",
        "Settings": {
            "ShowCondition": "itemParameters['StorageLocation'].Value == 'Memory'"
        }
    }, {
        "Id": "AddCsvToAllowedFileTypes",
        "Title": {
            "default": "Ensure CSV file type is allowed in DNN File System."
        },
        "Type": "Boolean",
        "Settings": {
            "ShowCondition": "itemParameters['StorageLocation'].Value == 'File'"
        }
    }, {
        "Id": "EncodingOption",
        "Title": {
            "default": "Encoding"
        },
        "HelpText": {
            "default": "Choose the Encoding option. Default is UTF-8."
        },
        "Type": "Select",
        "Settings": {
            "ShowCondition": "itemParameters['StorageLocation'].Value == 'File'",
            "DataSource": "DnnSharp.Common.Actions.Serialization.eEncoding, DnnSharp.Common.Actions"
        },
        "Validation": [
            {
                "Type": "Required"
            }
        ]
    }, {
        "Id": "Folder",
        "Title": {
            "default": "Folder"
        },
        "HelpText": {
            "default": "Folder to write the CSV file into."
        },
        "Type": "Select",
        "Settings": {
            "ShowCondition": "itemParameters['StorageLocation'].Value == 'File'",
            "DataSource": "PortalFolderList",
            "SupportsExpressions": "true"
        },
        "Validation": [
            {
                "Type": "Required"
            }
        ]
    }, {
        "Id": "Pattern",
        "Title": {
            "default": "Pattern"
        },
        "HelpText": {
            "default": "Optionally provide a pattern to use for filenames on the server. For example &quot;[User:Username]-avatar&quot;. Leave blank to use the original filename. Supports <a href='http://www.dnnsharp.com/dnn/modules/my-custom-tokens' target='_blank' tabindex='-1'>My Tokens</a>"
        },
        "Type": "Text",
        "Settings": {
            "ShowCondition": "itemParameters['StorageLocation'].Value == 'File'"
        }
    }, {
        "Id": "Duplicates",
        "Title": {
            "default": "Handle Duplicates"
        },
        "Type": "Select",
        "HelpText": {
            "default": ""
        },
        "Settings": {
            "ShowCondition": "itemParameters['StorageLocation'].Value == 'File'",
            "Items": {
                "Overwrite": {
                    "default": "Overwrite"
                },
                "Rename": {
                    "default": "Rename"
                }
            }
        }
    }, {
        "Id": "StoreAbsoluteURL",
        "Title": {
            "default": "Store Absolute URL"
        },
        "HelpText": {
            "default": "Optionally provide a token name where to Store Absolute URL. The token can be used in next actions down the stack."
        },
        "Type": "Text",
        "Settings": {
            "ShowCondition": "itemParameters['StorageLocation'].Value == 'File'"
        }
    }, {
        "Id": "StoreRelativeURL",
        "Title": {
            "default": "Store Relative URL"
        },
        "HelpText": {
            "default": "Optionally provide a token name where to Store Relative URL. The token can be used in next actions down the stack."
        },
        "Type": "Text",
        "Settings": {
            "ShowCondition": "itemParameters['StorageLocation'].Value == 'File'"
        }
    }, {
        "Id": "StorePhysicalPath",
        "Title": {
            "default": "Store Physical Path"
        },
        "HelpText": {
            "default": "Optionally provide a token name where to Store Physical Path. The token can be used in next actions down the stack."
        },
        "Type": "Text",
        "Settings": {
            "ShowCondition": "itemParameters['StorageLocation'].Value == 'File'"
        }
    }, {
        "Id": "StoreLinkClick",
        "Title": {
            "default": "Store LinkClick Url"
        },
        "Type": "Text",
        "HelpText": {
            "default": "Optionally provide a token name where to Store the LinkClick Url. The token can be used in next actions down the stack."
        },
        "Settings": {
            "ShowCondition": "itemParameters['StorageLocation'].Value == 'File'"
        }
    }, {
        "Id": "DisableForceDownload",
        "Title": {
            "default": "Disable Force Download"
        },
        "HelpText": {
            "default": "Disables LinkClick URL force download feature."
        },
        "Type": "Boolean",
        "Settings": {
            "ShowCondition": "itemParameters['StorageLocation'].Value == 'File'"
        }
    }]
}]