[
  {
    "Id": "ApplyTokens",
    "Title": { "default": "Create/Update Tokens" },
    "HelpText": {
      "default": "Creates or updates tokens in the current execution tokens. Optionally, it can tokenize values recursively."
    },
    "TypeStr": "DnnSharp.Common.Actions.Code.ApplyTokens, DnnSharp.Common.Actions",
    "Settings": {
      "Group": "Context"
    },
    "Parameters": [
      {
        "Id": "Tokens",
        "Title": { "default": "Tokens" },
        "HelpText": {
          "default": "Expressions to tokenize. Supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
        },
        "Type": "NameValueCollection",
        "Settings": {
          "NameColumn": "Token Name",
          "ValueColumn": "Token Value",
          "ValueColumnType": "LargeText",
          "ButtonName": "Add",
          "SupportsOrdering": true
        },
        "Validation": [
          {
            "Type": "required",
            "For": "NameColumn"
          }
        ]
      },
      {
        "Id": "RecursionCount",
        "Title": { "default": "Number of Recursions" },
        "HelpText": {
          "default": "Specify how many times to apply tokenization. This is useful when tokens contain other tokens that also need to be replaced. Note that this presents a security risk when the expression has content from untrusted users. Supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
        },
        "Type": "Text",
        "DefaultValue": {
          "default": "1"
        },
        "Validation": [
          {
            "Type": "required"
          }
        ]
      }
    ],
    "Output": [
      {
        "Id": "Tokens",
        "Title": { "default": "Tokens" },
        "HelpText": {
          "default": "Expressions to tokenize. Supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
        },
        "Type": "NameValueCollection",
        "Settings": {
          "NameColumn": "Token Name",
          "ValueColumn": "Token Value",
          "ValueColumnType": "LargeText",
          "ButtonName": "Add",
          "SupportsOrdering": true,
          "OutputToken": "NameColumn"
        },
        "Validation": [
          {
            "Type": "required",
            "For": "NameColumn"
          }
        ]
      }
    ]
  }
]
