[{
    "Id": "PostData",
    "TypeStr": "DnnSharp.Common.Actions.Data.ServerRequest, DnnSharp.Common.Actions",
    "Title": {
        "default": "Server Request"
    },
    "HelpText": {
        "default": "Send a request to a specific URL."
    },
    "Settings": {
        "Group": "Data"
    },
    "Parameters": [
        {
            "Id": "InputParameters",
            "Type": "SectionTitle",
            "Title": {"default": "Input Parameters"}
        },
        {
            "Id": "URL",
            "Type": "Text",
            "Title": {
                "default": "URL"
            },
            "DefaultValue": {
                "default": "http://example.com"
            },
            "HelpText": {
                "default": "URL where to send the request. Can contain tokens (for example [FirstName]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>. <br/><b>Note</b>: When using relative URLs make sure that the action is executing within a portal context (e.g. in <a href=\"https://www.dnnsharp.com/dnn/modules/sharp-task-scheduler\">SharpScheduler</a>)"
            }
        },
        {
            "Id": "UrlTokenContext",
            "Type": "Select",
            "Title": {
                "default": "Url Token Encoding"
            },
            "HelpText": {
                "default": "URLs brought from tokens might contain reserved characters which have a certain meaning in the wrong context for a URL part. URL encoding will make sure the URL is valid. (default)<br/>No Encoding - Normal token replacement"
            },
            "Settings": {
                "Items": {
                    "Plain": {
                        "default": "No Encoding"
                    },
                    "Url": {
                        "default": "URL Encoding"
                    }
                }
            },
            "DefaultValue": {
                "default": "Url"
            }
        },
        {
            "Id": "UseSSL",
            "Type": "Boolean",
            "Title": {
                "default": "Enforce SSL"
            },
            "HelpText": {
                "default": "This will force the request to be sent to a secured version of the URL. The request URL will be rewritten to use https instead of http."
            }
        },
        {
            "Id": "Timeout",
            "Type": "Text",
            "Title": {
                "default": "Timeout"
            },
            "HelpText": {
                "default": "Specify a custom timeout (in seconds). If left empty, it defaults to 100 seconds. It is recommended to let it default."
            }
        },
        {
            "Id": "HttpMethod",
            "Type": "Select",
            "Title": {
                "default": "Choose an HTTP Method"
            },
            "Settings": {
                "Items": {
                    "GET": {
                        "default": "GET"
                    },
                    "HEAD": {
                        "default": "HEAD"
                    },
                    "POST": {
                        "default": "POST"
                    },
                    "PUT": {
                        "default": "PUT"
                    },
                    "PATCH": {
                        "default": "PATCH"
                    },
                    "DELETE": {
                        "default": "DELETE"
                    }
                }
            }
        },
        {
            "Id": "Data",
            "Type": "Code",
            "Title": {
                "default": "Data"
            },
            "DefaultValue": {
                "default": "name=[FirstName]\npage=[Tab:TabName]"
            },
            "HelpText": {
                "default": "Put key=value pairs each on separate line. If a Content-Type is set to a json or xml type the data will pe parsed accordingly. Can contain tokens (for example [FirstName]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
            }
        },
        {
            "Id": "DoNotEscapeTokens",
            "Type": "Boolean",
            "Title": {
                "default": "Do not escape tokens in Post Data"
            },
            "HelpText": {
                "default": "By default tokens in XML content are escaped so that they do not break the XML structure. Enabling this option helps when you are trying to send XML data which comes from tokens in the request body and only takes effect if the Content-Type header is set to text/xml, application/xml or application/soap+xml."
            }
        },
        {
            "Id": "DisableReferer",
            "Type": "Boolean",
            "Title": {
                "default": "Disable Referer Header"
            },
            "HelpText": {
                "default": "By default we append the Referer header, but some APIs throw an error when this header is specified. Check this box to disable the referer header. <br/><b>Note</b>: When the referer header needs to be sent (the <b>Disable Referer Header</b> is unchecked) make sure that the action is executing within a portal context (e.g. in <a href=\"https://www.dnnsharp.com/dnn/modules/sharp-task-scheduler\">SharpScheduler</a>)"
            }
        },
        {
            "Id": "Headers",
            "Type": "NameValueCollection",
            "Title": {
                "default": "Headers"
            },
            "Settings": {
                "ButtonName": "Add",
                "NameColumn": "Name",
                "ValueColumn": "Value"
            },
            "HelpText": {
                "default": "Additional HTTP headers to pass"
            }
        },
        {
            "Id": "UseDNNProxySettings",
            "Type": "Boolean",
            "Title": {
                "default": "Use DNN Proxy Settings"
            },
            "HelpText": {
                "default": ""
            }
        },
        {
            "Id": "AddCurrentCookies",
            "Type": "Boolean",
            "Title": {
                "default": "Add Current Cookies"
            },
            "HelpText": {
                "default": "Pass the current cookies with the request."
            }
        },
        {
            "Id": "OutputParameters",
            "Type": "SectionTitle",
            "Title": {"default": "Output Parameters"}
        },
        {
            "Id": "CookieContainerToken",
            "Type": "Text",
            "Title": {
                "default": "Cookie Container"
            },
            "HelpText": {
                "default": "Optional. This will name a container in which to store the cookies. If you want to use cookies from the previous Server Request actions or pass them along to other Server Requests, make sure they have the same name."
            }
        },
        {
            "Id": "OutputTokenName",
            "Type": "Text",
            "Title": {
                "default": "Output Token Name"
            },
            "HelpText": {
                "default": "Specify a token name to save the request response into. You can access it later using the token syntax, for example [MyNamedTPostoken]"
            }
        },
        {
            "Id": "OutputHeaders",
            "Type": "NameValueCollection",
            "Title": {
                "default": "Output Headers"
            },
            "Settings": {
                "NameColumn": "Header Name",
                "ValueColumn": "Token Name",
                "ButtonName": "Add"
            },
            "HelpText": {
                "default": "Specify a list of headers to retrieve from the server response. If the header you are trying to retrieve appears multiple times, use [TokenName:Json] to retrieve a JSON array of strings containing the values."
            }
        },
        {
            "Id": "IgnoreErrors",
            "Type": "Boolean",
            "Title": {
                "default": "Ignore Errors"
            },
            "HelpText": {
                "default": "Any errors thrown when executing this action will be ignored. Using this options will not stop the triggering of the 'On Error' event."
            }
        },
        {
            "Id": "Events",
            "Type": "SectionTitle",
            "Title": {"default": "Events"}
        },
        {
            "Id": "OnError",
            "Type": "ActionList",
            "Title": {
                "default": "On Error"
            },
            "Settings": {
                "Event": "error"
            },
            "HelpText": {
                "default": "Define a list of actions that should execute when this action results in an error. To retrieve the error message and the error code use: [&lt;OutputTokenName&gt;:ErrorResponse] and [&lt;OutputTokenName&gt;:ErrorCode]"
            }
        }
    ]
}]
