[{
    "Id": "HideAG",
    "Title": {
        "default": "Hide Listing And Stop Execution"
    },
    "Final": true,
    "TypeStr": "DnnSharp.Common.Actions.BasicDnnsfApiCall, DnnSharp.Common.Actions",
    "Settings": {
        "Group": "UI Actions",
        "JavaScriptFile": "Common/static/client-actions/HideActionGrid.js"
    },
    "Conditions": [
        {
            "TypeStr": "DnnSharp.Common.Conditions.IsModuleInstalled,DnnSharp.Common",
            "Settings": {
                "ModuleFriendlyName": "avt.ActionGrid"
            }
        },
        {
            "TypeStr": "DnnSharp.Common.Conditions.IsForModule,DnnSharp.Common",
            "Settings": {
                "AppCodes": [
                    "AFORM",
                    "AGRID"
                ]
            }
        },
        {
            "TypeStr": "DnnSharp.Common.Conditions.IsNotForModule,DnnSharp.Common",
            "Settings": {
                "AppCodes": [
                    "DNNAPIS"
                ]
            }
        }
    ],
    "Parameters": [
        {
            "Id": "ModuleId",
            "Title": {
                "default": "Select Module"
            },
            "HelpText": {
                "default": "Select the Listing module you want to hide."
            },
            "Type": "Select",
            "Settings": {
                "SupportsExpressions": "true",
                "DataSource": "Modules",
                "moduleType": "Action Grid"
            }
        }
    ]
}]