[
  {
    "Id": "OpenAFPopupClient",
    "Title": {
      "default": "Open Form Popup"
    },
    "IsClientAction": true,
    "TypeStr": "DnnSharp.Common.Actions.ClientActions.BasicDnnsfApiCall, DnnSharp.Common.Actions",
    "Settings": {
      "Group": "UI Actions",
      "JavaScriptFile": "Common/static/client-actions/OpenActionFormPopup.js",
      "ExposedParameters": "ReinitForm, AllowUserClose, CloseOnClick, CloseOnEscape"
    },
    "Conditions": [
      {
        "TypeStr": "DnnSharp.Common.Conditions.IsModuleInstalled,DnnSharp.Common",
        "Settings": {
          "ModuleFriendlyName": "avt.ActionForm"
        }
      },
      {
        "TypeStr": "DnnSharp.Common.Conditions.IsForModule,DnnSharp.Common",
        "Settings": {
          "AppCodes": ["AGRID"]
        }
      },
      {
        "TypeStr": "DnnSharp.Common.Conditions.IsNotForModule,DnnSharp.Common",
        "Settings": {
          "AppCodes": ["DNNAPIS"]
        }
      }
    ],
    "Parameters": [
      {
        "Id": "ModuleId",
        "Title": {
          "default": "Select Module"
        },
        "HelpText": {
          "default": "Select the Action Form module that you want to open in popup."
        },
        "Type": "Select",
        "Settings": {
          "SupportsExpressions": "true",
          "DataSource": "Modules",
          "moduleType": "Action Form"
        }
      },
      {
        "Id": "ReinitForm",
        "Title": {
          "default": "Reinitialize Form"
        },
        "Type": "Boolean",
        "DefaultValue": {
          "default": "false"
        },
        "HelpText": {
          "default": "Always reinitialize Action Form when opening in popup."
        }
      },
      {
        "Id": "Params",
        "Title": {
          "default": "QueryString Parameters"
        },
        "HelpText": {
          "default": "The values set here will be sent to the Action Form module and will be available in the Init and PreInit actions as values of the 'QueryString:' token namespace."
        },
        "Type": "NameValueCollection",
        "Settings": {
          "NameColumn": "Name",
          "ValueColumn": "Value",
          "ButtonName": "Add"
        }
      },
      {
        "Id": "AllowUserClose",
        "Title": {
          "default": "Allow user additional methods to close the popup"
        },
        "Type": "Boolean",
        "DefaultValue": {
          "default": "true"
        },
        "HelpText": {
          "default": "If this is checked, it will allow users to close the popup with one of actions described below."
        }
      },
      {
        "Id": "CloseOnClick",
        "Title": {
          "default": "Close on clicking outside"
        },
        "Type": "Boolean",
        "DefaultValue": {
          "default": "true"
        },
        "HelpText": {
          "default": "Allow popup closing when a click is made outside of the window."
        },
        "Settings": {
          "ShowCondition": "itemParameters['AllowUserClose']"
        }
      },
      {
        "Id": "CloseOnEscape",
        "Title": {
          "default": "Close on escape"
        },
        "Type": "Boolean",
        "DefaultValue": {
          "default": "true"
        },
        "HelpText": {
          "default": "Allow popup closing when the escape (ESC) key is pressed."
        },
        "Settings": {
          "ShowCondition": "itemParameters['AllowUserClose']"
        }
      }
    ]
  }
]
