[{
    "Id": "ExtendEntity",
    "Title": {
        "default": "Extend List Properties"
    },
    "HelpText": {
        "default": "Extends a list with new properties. This action can be used both to bulk update all list entries of a type, or update entries one by one when used inside an \"Execute Actions for each List entry\" action."
    },
    "TypeStr": "DnnSharp.Common.Actions.Entities.ExtendEntity, DnnSharp.Common.Actions",
    "Settings": {
        "Group": "Lists & Objects"
    },
    "Parameters": [{
            "Id": "EntityName",
            "Title": {
                "default": "List Name"
            },
            "HelpText": {
                "default": "Name of the list type that you wish to update. Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>."
            },
            "Type": "Text"
        },
        {
            "Id": "EntityProps",
            "Title": {
                "default": "Properties"
            },
            "HelpText": {
                "default": "Both property name and value columns can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>."
            },
            "Type": "NameValueCollection",
            "Settings": {
                "NameColumn": "Property Name",
                "ValueColumn": "Property Value",
                "ButtonName": "Add Property"
            }
        },
        {
            "Id": "EntityObjProperties",
            "Title": {
                "default": "List Object Properties"
            },
            "HelpText": {
                "default": "You can add or replace properties on the list which references previously created objects. NOTE: No recursive referencing checks will be done when setting the property so infinite loops can be encountered. Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>."
            },
            "Type": "NameValueCollection",
            "Settings": {
                "NameColumn": "Property Name",
                "ValueColumn": "Referenced Object",
                "ButtonName": "Add Object Property"
            }
        },
        {
            "Id": "EntityListProperties",
            "Title": {
                "default": "List Properties"
            },
            "HelpText": {
                "default": "You can add or replace properties on the list which references previously created lists. NOTE: No recursive referencing checks will be done when setting the property so infinite loops can be encountered. Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>."
            },
            "Type": "NameValueCollection",
            "Settings": {
                "NameColumn": "Property Name",
                "ValueColumn": "Referenced List",
                "ButtonName": "Add List Property"
            }
        }
    ]
}]