[
    {
        "Id": "PaginateEntityList",
        "Title": {
            "default": "Paginate List"
        },
        "HelpText": {
            "default": "Generates a new list from the source by selecting only the list entries contained in the specified page."
        },
        "TypeStr": "DnnSharp.Common.Actions.Entities.PaginateEntityList, DnnSharp.Common.Actions",
        "Settings": {
            "Group": "Lists & Objects"
        },
        "Parameters": [
            {
                "Id": "EntityName",
                "Title": {
                    "default": "List Name"
                },
                "HelpText": {
                    "default": "Name of the source list that will be paginated. Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>."
                },
                "Type": "Text"
            },
            {
                "Id": "PageSize",
                "Title": {
                    "default": "Page Size"
                },
                "HelpText": {
                    "default": "The number of elements that will be selected from the source list. Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>."
                },
                "Type": "Text"
            },
            {
                "Id": "Page",
                "Title": {
                    "default": "Page"
                },
                "HelpText": {
                    "default": "The page number to select from the source list, 0 based. Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>."
                },
                "Type": "Text"
            },
            {
                "Id": "OutputEntityName",
                "Title": {
                    "default": "Output List Name"
                },
                "HelpText": {
                    "default": "Name of the new list that will contain the paginated result. Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>."
                },
                "Type": "Text"
            }
        ]
    }
]