[
	{
		"Id": "RemoveEntities",
		"Title": { "default": "Remove List Entries" },
		"TypeStr": "DnnSharp.Common.Actions.Entities.RemoveEntities, DnnSharp.Common.Actions",
		"Settings": {
			"Group": "Lists & Objects"
		},

		"Parameters": [
			{
				"Id": "EntityName",
				"Title": { "default": "List Name" },
				"HelpText": { "default": "Name of the list from which you want to remove entries. Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>." },
				"Type": "Text"
			},
			{
				"Id": "Criteria",
				"Title": { "default": "Criteria" },
				"HelpText": { "default": "Provide criteria to determine which entries are removed. Value should hold SQL statements such as '=\"value\"' or 'LIKE \"%value%\"'." },
				"Type": "NameValueCollection",
				"Settings": {
					"NameColumn": "Property",
					"ValueColumn": "Value",
					"ButtonName": "Add Criteria"
				}
			}
		]
	}
]