[
  {
    "Id": "LoadEntitiesFromSql",
    "Title": { "default": "Create List from SQL" },
    "HelpText": {
      "default": "Load a list from an SQL query. Some actions know to execute for each list entry, and expose the entry properties as tokens. A common scenario is to send an email to a list of leads. Note that this action also creates a [<ListNameHere>:Count] token that holds the total number of list entries that were loaded."
    },
    "TypeStr": "DnnSharp.Common.Actions.Entities.LoadFromSql, DnnSharp.Common.Actions",
    "Settings": {
      "Group": "Lists & Objects"
    },

    "Parameters": [
      {
        "Id": "ConnectionString",
        "Title": { "default": "Other Connection String" },
        "HelpText": {
          "default": "Leave this field empty to use the connection string from DNN."
        },
        "Type": "Text"
      },
      {
        "Id": "QueryTimeout",
        "Title": {
          "default": "Query Timeout"
        },
        "HelpText": {
          "default": "Set a time in seconds after which a query will time out. The default is set to 10 minutes or 600 seconds. This parameter can't be negative or under 10 seconds. Can contain Tokens."
        },
        "Type": "Text"
      },
      {
        "Id": "SqlQuery",
        "Title": { "default": "SQL Query" },
        "HelpText": {
          "default": "SQL to execute. Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>.<br/> <div style=\"color:red\">WARNING!</div> We encourage using binding parameters instead of using the tokens directly on sql query. Just use @param instead of [token] and bind below values as shown: Parameter Name: param ; Parameter Value: [token]. This will keep your database safe.<br/>"
        },
        "Type": "Code",
        "Settings": {
          "CodeMirrorMode": "sql"
        }
      },
      {
        "Id": "BindTokens",
        "Title": { "default": "Bind Tokens" },
        "HelpText": {
          "default": "Bind the parameters above with a value or token. e.g. Parameter Name: param_name, Parameter Value: [token]."
        },
        "Type": "NameValueCollection",
        "Settings": {
          "NameColumn": "Parameter Name",
          "ValueColumn": "Parameter Value",
          "ButtonName": "Bind more data"
        }
      },
      {
        "Id": "EntityName",
        "Title": { "default": "List Name" },
        "HelpText": {
          "default": "Name this list so you can reference it later by name. Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>."
        },
        "Type": "Text"
      },
      {
        "Id": "ClearBeforeLoad",
        "Title": { "default": "Clear before loading" },
        "HelpText": {
          "default": "If you check this option, your list entries will be loaded in a new empty list."
        },
        "Type": "Boolean"
      },
      {
        "Id": "EntityProps",
        "Title": { "default": "Properties" },
        "HelpText": {
          "default": "Map columns returned by the SQL to properties of the list. If the list is empty, all columns retrieved from the SQL query will be added as list properties."
        },
        "Type": "NameValueCollection",
        "Settings": {
          "NameColumn": "SQL Column",
          "ValueColumn": "List Property",
          "ButtonName": "Add Property"
        }
      },
      {
        "Id": "OnError",
        "Title": { "default": "On Error" },
        "HelpText": {
          "default": "Define a list of actions to run on error. Otherwise, an error message is returned which will contain the underlying error if debug mode is on."
        },
        "Type": "ActionList",
        "DefaultValue": {
          "default": "[]"
        },
        "Settings": {
          "Event": "OnError"
        }
      }
    ]
  }
]
