[
    {
        "Id": "RemapEntityList",
        "Title": {
            "default": "Remap List"
        },
        "HelpText": {
            "default": "Create/Overwrite a list by remapping the properties of a list using a mapping object."
        },
        "TypeStr": "DnnSharp.Common.Actions.Entities.RemapEntityList, DnnSharp.Common.Actions",
        "Settings": {
            "Group": "Lists & Objects"
        },
        "Parameters": [
            {
                "Id": "SourceEntityName",
                "Title": {
                    "default": "Source List"
                },
                "HelpText": {
                    "default": "Name the list you wish to load values from. Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>."
                },
                "Type": "Text"
            },
            {
                "Id": "MappingEntityName",
                "Title": {
                    "default": "Mapping List"
                },
                "HelpText": {
                    "default": "This list contains two columns, one for the source property and one for the target property. Each list entry defines the relation between a property of the source list and a property of the target list. Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>."
                },
                "Type": "Text"
            },
            {
                "Id": "MappingEntitySourcePropertyName",
                "Title": {
                    "default": "Mapping List - Source Property"
                },
                "HelpText": {
                    "default": "The property name from the mapping list that represents the property name from the source list. Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>."
                },
                "Type": "Text"
            },
            {
                "Id": "MappingEntityTargetPropertyName",
                "Title": {
                    "default": "Mapping List - Target Property"
                },
                "HelpText": {
                    "default": "The property name from the mapping list that represents the target name to be stored into the result list. Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>."
                },
                "Type": "Text"
            },
            {
                "Id": "AdditionalProperties",
                "Title": { "default": "Additional Properties" },
                "HelpText": { "default": "Provide a list of additional properties to add to the resulting list." },
                "Type": "NameValueCollection",
                "Settings": {
                    "NameColumn": "Property Name",
                    "ValueColumn": "Value",
                    "ButtonName": "Add Property"
                }
            },
            {
                "Id": "ResultEntityName",
                "Title": {
                    "default": "Result List Name"
                },
                "HelpText": {
                    "default": "Name the result list so you can reference it later by name. Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>."
                },
                "Type": "Text"
            }

        ]
    }
]
