[
  {
    "Id": "Wait",
    "Title": {
      "default": "Wait"
    },
    "HelpText": {
      "default": "Waits for the specified amount of time."
    },
    "TypeStr": "DnnSharp.Common.Actions.Flow.Wait, DnnSharp.Common.Actions",
    "Settings": {
      "Group": "Flow"
    },
    "Parameters": [
      {
        "Id": "TimeMs",
        "Title": {
          "default": "Duration (ms)"
        },
        "HelpText": {
          "default": "The amount of time in milieconds to wait for."
        },
        "Type": "text",
        "DefaultValue": {
          "default": "1000"
        }
      }
    ]
  }
]
