[
    {
        "Id": "LogEvent",
        "TypeStr": "DnnSharp.Common.Actions.Debugging.LogEvent, DnnSharp.Common.Actions",
        "Title": {
            "default": "Log Event"
        },
        "HelpText": {
            "default": "Logs an event in the admin logs."
        },
        "Settings": {
            "Group": "Logging"
        },
        "Parameters": [
            {
                "Id": "EventType",
                "Type": "Select",
                "Title": {
                    "default": "Event Type"
                },
                "Settings": {
                    "DataSource": "DnnSharp.Common.Actions.Debugging.eEventLogType,DnnSharp.Common.Actions",
                    "SupportsExpressions": "true"
                }
            },
            {
                "Id": "UserID",
                "Type": "Text",
                "Title": {
                    "default": "User ID"
                },
                "HelpText": {
                    "default": "UserID to add to the log. Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
                }
            },
            {
                "Id": "LogProperties",
                "Type": "NameValueCollection",
                "Title": {
                    "default": "Log Properties"
                },
                "Settings": {
                    "ButtonName": "Add",
                    "NameColumn": "Name",
                    "ValueColumn": "Value",
                    "SupportsOrdering": true   
                },
                "HelpText": {
                    "default": "Additional properties for the log. Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
                }
            }
        ]
    }
]