[
    {
        "Id": "DecryptData",
        "Title": {
            "default": "AES Decrypt"
        },
        "HelpText": {
            "default": "This action lets you decrypt data with AES."
        },
        "Settings": {
            "Group": "Security"
        },
        "TypeStr": "DnnSharp.Common.Actions.Security.AESDecrypt, DnnSharp.Common.Actions",
        "Parameters": [
            {
                "Id": "Key",
                "Title": {
                    "default": "AES Key"
                },
                "Type": "Text",
                "HelpText": {
                    "default": "If you're setting up a new system, we've included a tool to <a href=\"{{getUrl('GenerateAesKey')}}\" target=\"_blank\" tabindex=\"-1\">generate your Key and Initialization Vector</a>. Can contain form tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
                }
            },
            {
                "Id": "IV",
                "Title": {
                    "default": "IV Vector"
                },
                "Type": "Text",
                "HelpText": {
                    "default": ""
                }
            },
            {
                "Id": "Fields",
                "Title": {
                    "default": "Fields"
                },
                "Type": "NameValueCollection",
                "HelpText": {
                    "default": "Specify field name that will be decrypted and the token that will hold the decrypted name. Can contain form tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
                },
                "Settings": {
                    "NameColumn": "Data to Decrypt",
                    "ValueColumn": "Store in Token",
                    "ButtonName": "Add"
                }
            }
        ]
    }
]