[
    {
        "Id": "RSADecrypt",
        "Title": {
            "default": "RSA Decrypt"
        },
        "HelpText": {
            "default": "This action lets you decrypt data with the RSA algorithm"
        },
        "Settings": {
            "Group": "Security"
        },
        "TypeStr": "DnnSharp.Common.Actions.Security.RSADecrypt, DnnSharp.Common.Actions",
        "Parameters": [
            {
                "Id": "Key",
                "Title": {
                    "default": "Private Key"
                },
                "Type": "Text",
                "HelpText": {
                    "default": "Enter your private key. If you're setting up a new system, we've included a tool to <a href=\"{{getUrl('GenerateRsaKey')}}\" target=\"_blank\" tabindex=\"-1\">Generate Public and Private Key</a>. Can contain form tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
                }
            },
            {
                "Id": "Fields",
                "Title": {
                    "default": "Fields"
                },
                "Type": "NameValueCollection",
                "HelpText": {
                    "default": "Specify field name that will be encrypted and the field value that will hold the encrypted name. Can contain form tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
                },
                "Settings": {
                    "NameColumn": "Data to Decrypt",
                    "ValueColumn": "Store in Token",
                    "ButtonName": "Add"
                }
            }
        ]
    }
]