[{
    "Id": "UserManagement_UserRegistration",
    "Title": {
        "default": "User Registration"
    },
    "TypeStr": "DnnSharp.Common.Actions.UserManagement.UserRegistration, DnnSharp.Common.Actions",
    "HelpText": {
        "default": "This action will create a new user account. The form must contain at least an username or email address. The password can be collected via a password field or randomly generated. On successfull registration, access user info using the [NewUserId] and [User:*] tokens (for example [User:UserID] or [User:FirstName])."
    },
    "Settings": {
        "Group": "User Management"
    },
    "Parameters": [{
            "Id": "UsernameField",
            "Title": {
                "default": "Username"
            },
            "HelpText": {
                "default": "Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>"
            },
            "Type": "FieldSelect",
            "Settings": {
                "SupportsExpressions": "true"
            }
        },

        {
            "Id": "RegisterWithEmail",
            "Title": {
                "default": "Register with email"
            },
            "HelpText": {
                "default": "If you have the CheckBox enabled, the \"Email\" Field will be used as \"UserName\". If you don't have the CheckBox enabled, the \"Username\" Field is used as \"Username\"."
            },
            "Type": "Boolean"
        },

        {
            "Id": "PasswordField",
            "Title": {
                "default": "Password"
            },
            "HelpText": {
                "default": "Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>"
            },
            "Type": "FieldSelect",
            "Settings": {
                "SupportsExpressions": "true"
            }
        },

        {
            "Id": "RandomPass",
            "Title": {
                "default": "Generate random password"
            },
            "HelpText": {
                "default": "Enable this option to have our module generate a random password. This basically replaces the password fields. The generated password is stored in [RegRandomPass] token so you can use it for example in an email action."
            },
            "Type": "Boolean"
        },

        {
            "Id": "EmailField",
            "Title": {
                "default": "Email"
            },
            "HelpText": {
                "default": "Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>"
            },
            "Type": "FieldSelect",
            "Settings": {
                "SupportsExpressions": "true"
            }
        },

        {
            "Id": "FirstName",
            "Title": {
                "default": "First Name"
            },
            "HelpText": {
                "default": "Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>"
            },
            "Type": "FieldSelect",
            "Settings": {
                "SupportsExpressions": "true"
            }
        },

        {
            "Id": "LastName",
            "Title": {
                "default": "Last Name"
            },
            "HelpText": {
                "default": "Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>"
            },
            "Type": "FieldSelect",
            "Settings": {
                "SupportsExpressions": "true"
            }
        },

        {
            "Id": "SendDnnMail",
            "Title": {
                "default": "Send standard DNN registration email"
            },
            "HelpText": {
                "default": "When this option is enabled, our module will use the standard registration email from DNN. For custom emails, disable this option and add Email actions."
            },
            "Type": "Boolean",
            "Conditions": [{
                "TypeStr": "DnnSharp.Common.Conditions.IsNotForModule,DnnSharp.Common",
                "Settings": {
                    "AppCodes": ["SCHD"]
                }
            }]
        },

        {
            "Id": "LoginIfExists",
            "Title": {
                "default": "Login if user already exists"
            },
            "HelpText": {
                "default": "When this option is enabled, instead of throwing an error, our module tries to login the user using the username and password provided. If authentication is successfull, then the module continues with the rest of the actions."
            },
            "Type": "Boolean",
            "Conditions": [{
                "TypeStr": "DnnSharp.Common.Conditions.IsNotForModule,DnnSharp.Common",
                "Settings": {
                    "AppCodes": ["SCHD"]
                }
            }]
        },

        {
            "Id": "Authorization",
            "Title": {
                "default": "Authorize users who register with this form."
            },
            "HelpText": {
                "default": "When this option is enabled, users that will register with this module will be authorized."
            },
            "Type": "Select",
            "Settings": {
                "Items": {
                    "Authorize": {
                        "default": "Authorize"
                    },
                    "NoAuthorize": {
                        "default": "Don't Authorize"
                    },
                    "Inherit": {
                        "default": "Inherit DNN Settings"
                    }
                }
            },
            "DefaultValue": {
                "default": "Authorize"
            }
        }
    ]
}]