[
    {
        "Id": "UserManagement.UnlockUser",
        "TypeStr": "DnnSharp.Common.Actions.UserManagement.UnlockUser, DnnSharp.Common.Actions",
        "Title": {
            "default": "Unlock User"
        },
        "Settings": {
            "Group": "User Management"
        },
        "Parameters": [
            {
                "Id": "UserIdentifier",
                "Type": "Text",
                "Title": {
                    "default": "User Identifier"
                },
                "HelpText": {
                    "default": "The value can be an User Id, User Name or an Email. Supports context tokens and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
                }
            },
            {
                "Id": "ResultTokenName",
                "Type": "Text",
                "Title": {
                    "default": "Result Token Name"
                },
                "HelpText": {
                    "default": "The result of the user unlock will be set here. Possible values: true, false."
                }
            }
        ]
    }
]