[{
    "Id": "UserManagement_SyncUsers",
    "Title": {
        "default": "Sync Users"
    },
    "TypeStr": "DnnSharp.Common.Actions.UserManagement.SyncUsers, DnnSharp.Common.Actions",
    "HelpText": {
        "default": "Sync users across all portals. Make them 'global' users."
    },
    "Settings": {
        "Group": "User Management"
    },
    "Parameters": [{
            "Id": "Users",
            "Title": {
                "default": "Sync Users"
            },
            "HelpText": {
                "default": "Input users by their ID only, separated by comma or '*' to select all users! Supports MyTokens"
            },
            "Type": "Text",
            "DefaultValue": {
                "default": "*"
            }
        },
        {
            "Id": "Portals",
            "Title": {
                "default": "Sync Portals"
            },
            "HelpText": {
                "default": "Input portals by their ID only, separated by comma or '*' to select all portals! Supports MyTokens"
            },
            "Type": "Text",
            "DefaultValue": {
                "default": "*"
            }
        }
    ]
}]