[{
    "Id": "UserManagement_CreateAutoLoginLink",
    "Title": { "default": "Create Auto Login Link" },
    "TypeStr": "DnnSharp.Common.Actions.UserManagement.CreateAutoLoginLink, DnnSharp.Common.Actions",
    "HelpText": {
        "default": "This action creates a link that will automatically login with a specified user. All generated links can be found in the DnnSharp_UserManagement_AutoLoginLinks database table.<br/>The AutoLoginUrl is: <br/>{SiteAlias}/DesktopModules/AutoLogin/API/AutoLogin?code={code}"
    },
    "Settings": {
        "Group": "User Management"
    },
    "Parameters": [{
            "Id": "User",
            "Title": { "default": "User" },
            "HelpText": {
                "default": "Specify the field where you want to take the user you want to login as. It can be UserId, Email or UserName. You can enable expression and input a corresponding token containing UserId, Email or UserName too. Can not log in as Admin/SuperUser. Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>"
            },
            "Type": "FieldSelect",
            "Settings": {
                "SupportsExpressions": "true"
            }
        },
        {
            "Id": "RedirectToPage",
            "Title": {
                "default": "Redirect To Page"
            },
            "HelpText": {
                "default": "The page where the user will be redirected after a successful login. Can be TabId or TabPath. If left empty it will redirect to the home page. (Optional)"
            },
            "Type": "Select",
            "Settings": {
                "DataSource": "PortalPages",
                "SupportsExpressions": "true"
            }
        },
        {
            "Id": "QueryString",
            "Title": {
                "default": "QueryString Parameters"
            },
            "HelpText": {
                "default": "The values set here will be sent to the redirect URL."
            },
            "Type": "NameValueCollection",
            "Settings": {
                "NameColumn": "Name",
                "ValueColumn": "Value",
                "ButtonName": "Add"
            }
        },
        {
            "Id": "NumberOfLogins",
            "Title": {
                "default": "Number Of Logins"
            },
            "HelpText": {
                "default": "The number of times this link will be permited to be used. Empty or 0 will be considered unlimited. When this number is reached the link will no longer work. (Optional)"
            },
            "Type": "Text"
        },
        {
            "Id": "OverwriteLastLink",
            "Title": {
                "default": "Overwrite old link"
            },
            "HelpText": {
                "default": "When this is enabled, creating a new link for the same user will override the previous one"
            },
            "Type": "Boolean"
        },
        {
            "Id": "ValidityPeriodInputType",
            "Type": "Select",
            "Title": {
                "default": "Validity period input mode"
            },
            "Settings": {
                "Items": {
                    "Simple": { "default": "Date and Time picker" },
                    "DateTokens": { "default": "Custom Date and Time values" },
                    "StartAndOffset": { "default": "Start Date and offset" }
                }
            },
            "DefaultValue": {
                "default": "Simple"
            }
        },
        {
            "Id": "StartDate",
            "Title": {
                "default": "Start Date"
            },
            "HelpText": {
                "default": "The date when the link will activate."
            },
            "Type": "DateTime",
            "Settings": {
                "Defaults": "{ \"Date\": \"\", \"Time\": \"12:00:00AM\" }",
                "ShowCondition": "itemParameters['ValidityPeriodInputType'].Value == 'Simple'"
            }
        },
        {
            "Id": "EndDate",
            "Title": {
                "default": "End Date"
            },
            "HelpText": {
                "default": "The date when the link will expire."
            },
            "Type": "DateTime",
            "Settings": {
                "Defaults": "{ \"Date\": \"\", \"Time\": \"12:00:00AM\" }",
                "ShowCondition": "itemParameters['ValidityPeriodInputType'].Value == 'Simple'"
            }
        },
        {
            "Id": "StartDateToken",
            "Type": "Text",
            "Title": {
                "default": "Start Date"
            },
          "HelpText": {
            "default": "The date when the link will activate. Using [DateTime:Now] is recommended. If the value is UTC please use the ISO date time format(yyyy-MM-ddTHH:mm:ssZ), for example [DateTime:Now|o]. Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>"
          },
            "Settings": {
                "ShowCondition": "itemParameters['ValidityPeriodInputType'].Value == 'DateTokens' || itemParameters['ValidityPeriodInputType'].Value == 'StartAndOffset'"
            }
        },
        {
            "Id": "EndDateToken",
            "Type": "Text",
            "Title": {
                "default": "End Date"
            },
          "HelpText": {
            "default": "The date when the link will expire. Using [DateTime:Now] is recommended. If the value is UTC please use the ISO date time format(yyyy-MM-ddTHH:mm:ssZ), for example [DateTime:Now|o]. Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>"
          },
            "Settings": {
                "ShowCondition": "itemParameters['ValidityPeriodInputType'].Value == 'DateTokens'"
            }
        },
        {
            "Id": "EndDateOffset",
            "Type": "Text",
            "Title": {
                "default": "Offset"
            },
            "HelpText": {
                "default": "How long the link will be valid, relative to Start Date. Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>"
            },
            "Settings": {
                "ShowCondition": "itemParameters['ValidityPeriodInputType'].Value == 'StartAndOffset'"
            }
        },
        {
            "Id": "EndDateOffsetType",
            "Type": "Select",
            "Title": {
                "default": "Offset Unit"
            },
            "Settings": {
                "Items": {
                    "Minute": { "default": "Minutes" },
                    "Hour": { "default": "Hours" },
                    "Day": { "default": "Days" }
                },
                "ShowCondition": "itemParameters['ValidityPeriodInputType'].Value == 'StartAndOffset'"
            }
        },
        {
            "Id": "OutputTokenName",
            "Title": {
                "default": "Output Token Name"
            },
            "HelpText": {
                "default": "The name of the token where you want to store the newly genererated link. <br/>[YourOutputTokenName] is a relative Url, so it can work on any portal alias, but it will still redirect to the portal alias it was created on. <br/>Also, [YourOutputTokenName:Absolute] is generated with current portal alias having an absolute URL for autologin."
            },
            "Type": "Text"
        }
    ]
}]
