[{
    "Id": "SendResetPassword",
    "Title": {
        "default": "Send User Reset Password Email"
    },
    "HelpText": {
        "default": "This action will send the reset user password email. It can use the default DNN email template. If you edit the default template, you need to use the [PasswordResetUri] token for the proper URL to be sent in the email."
    },
    "TypeStr": "DnnSharp.Common.Actions.UserManagement.SendResetPassword, DnnSharp.Common.Actions",
    "Settings": {
        "Group": "User Management"
    },

    "Parameters": [{
            "Id": "IdentifierField",
            "Title": {
                "default": "Identifier Field"
            },
            "HelpText": {
                "default": "This could be the user ID, username or email. Can contain context tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>. One common scenario is to use [QueryString:UserId] to read the user from the URL via My Tokens."
            },
            "Type": "FieldSelect",
            "Settings": {
                "SupportsExpressions": "true",
                "FieldType": ["open-username", "open-email", "open-text"]
            }
        },
        {
            "Id": "UseConfiguredResetPasswordPage",
            "Type": "Boolean",
            "Title": {
                "default": "Use Configured"
            },
            "HelpText": {
                "default": "The Reset Password Page set in the PlantAnApp Settings will be used."
            },
            "Conditions": [{
                "TypeStr": "DnnSharp.Common2.Services.PlantAnApp.ConfigConditions.IsPlantAnApp,DnnSharp.Common2"
            }]
        },
        {
            "Id": "ResetPasswordPage",
            "Title": {
                "default": "Password Reset Page"
            },
            "HelpText": {
                "default": "The page where an Action Form with the corresponding action to confirm the reset password process. In expressions you can use a TabId or a Tab Relative Path (eg. '/myPage/My-Sub-Page'). Can contain context tokens (for example [Email]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>"
            },
            "Type": "Select",
            "Settings": {
                "SupportsExpressions": "true",
                "DataSource": "PortalPages",
                "ShowCondition": "!itemParameters['UseConfiguredResetPasswordPage']"
            }
        },
        {
            "Id": "SenderEmail",
            "Type": "Text",
            "Title": {
                "default": "Sender Email"
            },
            "HelpText": {
                "default": "The email address that the email will be sent from. Leave empty to use the DNN configured portal email address."
            }
        },
        {
            "Id": "TemplateSource",
            "Type": "Select",
            "Title": {
                "default": "Template Source"
            },
            "DefaultValue": {
                "default": "Default"
            },
            "Settings": {
                "DataSource": "DnnSharp.Common.Actions.UserManagement.eEmailTemplateType, DnnSharp.Common.Actions",
                "SupportsExpressions": "true"
            }
        },
        {
            "Id": "TemplateSubject",
            "Type": "Text",
            "Title": {
                "default": "Template Subject"
            },
            "Settings": {
                "ShowCondition": "itemParameters['TemplateSource'].Value == 'Custom'"
            },
            "HelpText": {
                "default": "This is the subject of the email sent to the user. [User:*] tokens will have the information of the user to whom the password reset email is being sent. [Portal:*] tokens will return the current portal information."
            }
        },
        {
            "Id": "TemplateBody",
            "Type": "Code",
            "Title": {
                "default": "Template Body"
            },
            "Settings": {
                "ShowCondition": "itemParameters['TemplateSource'].Value == 'Custom'",
                "CodeMirrorMode": "htmlmixed"
            },
            "HelpText": {
                "default": "This is the body of the email sent to the user. [User:*] tokens will have the information of the user to whom the password reset email is being sent. [Portal:*] tokens will return the current portal information.<br /> <span class=\"text-warning\">IMPORTANT:</span> Use the <b>[PasswordResetUri]</b> to embed the URI that the user will need to access to reset his password."
            }
        },
        {
            "Id": "HTMLBody",
            "Title": {
                "default": "HTML email body"
            },
            "HelpText": {
                "default": "Check this if your reset password template contains HTML."
            },
            "Type": "Boolean"
        }
    ]
}]