[{
    "Id": "UserPasswordValidation",
    "TypeStr": "DnnSharp.Common.Actions.UserManagement.UserPasswordValidation, DnnSharp.Common.Actions",
    "Title": {
        "default": "User/Password Validation"
    },
    "HelpText": {
        "default": "Checks the User/Password combination to see if it is valid. <br /><span class='text-danger'><b>Warning:</b></span> This action sends the user and password values back to the server in <b>plain text</b>. To ensure your <span class='text-danger'>website security</span> it is recommended to use it only when the site is served through <b>HTTPS</b>."
    },
    "Settings": {
        "Group": "User Management"
    },
    "Parameters": [{
            "Id": "Username",
            "Type": "Text",
            "Title": {
                "default": "Username"
            },
            "HelpText": {
                "default": "Supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>"
            }
        },
        {
            "Id": "Password",
            "Type": "Text",
            "Title": {
                "default": "Password"
            },
            "HelpText": {
                "default": "Supports <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>"
            }
        },
        {
            "Id": "Roles",
            "Type": "CheckboxList",
            "Title": {
                "default": "Validate user role"
            },
            "Settings": {
                "DataSource": "Roles"
            }
        },
        {
            "Id": "OutputToken",
            "Type": "Text",
            "Title": {
                "default": "Output Token"
            },
            "HelpText": {
                "default": "This is the token name that the result will be stored in. The verification will not be performed if no token name is provided."
            }
        }
    ]
}]