[{
    "Id": "UserManagement_ChangeUsername",
    "Title": {
        "default": "Update Username"
    },
    "Conditions": [{
        "TypeStr": "DnnSharp.Common.Conditions.IsNotForModule,DnnSharp.Common",
        "Settings": {
            "AppCodes": ["SCHD"]
        }
    }],
    "TypeStr": "DnnSharp.Common.Actions.UserManagement.ChangeUsername, DnnSharp.Common.Actions",
    "HelpText": {
        "default": "This action changes the Username of a given user, it will not work if no user is logged in or if you try to change the username of a SuperUser. In the User Identifier field you can provide an Username/UserId/Email. If you leave this empty, you will change the username of the currently logged in user."
    },
    "Settings": {
        "Group": "User Management"
    },
    "Parameters": [{
            "Id": "UserIdentifier",
            "Title": {
                "default": "User Identifier"
            },
            "HelpText": {
                "default": "Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>"
            },
            "Type": "Text"
        },
        {
            "Id": "NewUserName",
            "Title": {
                "default": "New Username"
            },
            "HelpText": {
                "default": "Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>"
            },
            "Type": "Text"
        }
    ]
}]