[{
    "Id": "UserManagement_UserLogin",
    "Title": {
        "default": "User Login"
    },
    "Conditions": [{
        "TypeStr": "DnnSharp.Common.Conditions.IsNotForModule,DnnSharp.Common",
        "Settings": {
            "AppCodes": ["SCHD"]
        }
    }],
    "TypeStr": "DnnSharp.Common.Actions.UserManagement.UserLogin, DnnSharp.Common.Actions",
    "HelpText": {
        "default": "This action requires an email or username field and a password field to be present in the form in order to login the user. On successfull login, access user info using the[User: * ] tokens(for example[User: UserID] or[User: FirstName])."
    },
    "Settings": {
        "Group": "User Management"
    },
    "Parameters": [{
            "Id": "UsernameField",
            "Title": {
                "default": "Username"
            },
            "HelpText": {
                "default": "Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>"
            },
            "Type": "FieldSelect",
            "Settings": {
                "SupportsExpressions": "true"
            }
        },
        {
            "Id": "PasswordField",
            "Title": {
                "default": "Password"
            },
            "HelpText": {
                "default": "Can contain <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\">My Tokens</a>"
            },
            "Type": "FieldSelect",
            "Settings": {
                "SupportsExpressions": "true"
            }
        },
        {
            "Id": "TryEmailAsUsername",
            "Title": {
                "default": "Try Email as Username"
            },
            "HelpText": {
                "default": "When this option is enabled, our module looks for email - password match."
            },
            "Type": "Boolean"
        }
    ]
}]