.content-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 -1em;
}
.content-cards .card {
	flex: 1 1 100%;
	-webkit-transition: all 0.15s ease;
	-o-transition: all 0.15s ease;
	transition: all 0.15s ease;
	margin: 5rem 1rem;
	padding: 5rem 2rem 1rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	background: var(--theme-neutral, #f3f3f3);
	position: relative;
}
.content-cards .card .card--image {
	display: block;
	width: 100%;
}
.content-cards .card .card--image img {
	width: 100%;
	height: auto;
	margin: 0 0 0.5rem 0;
}

.content-cards .card .card--icon {
	font-size: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    background: #fff;
    color: var(--brand-blue, #555);
    border: 3px solid var(--brand-accent, #000);
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: -3.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 7rem;
    height: 7rem;
    align-items: center;
    justify-content: center;
}
.content-cards .card .card--content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;
	color: #555;
}
.content-cards .card .card--heading {
	display: block;
	width: 100%;
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
	line-height: 1.314;
	margin: 0;
	margin-bottom: 3rem;
	color: var(--brand-blue, #555);
	text-align: center;
}
.content-cards .card .card--info {
	margin: 0 auto;
	margin-bottom: 3rem;
}
.content-cards .card .card--actions {
	width: 100%;
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
	margin-bottom: 1rem;
	-ms-flex-item-align: end;
	align-self: flex-end;
	text-align: center;
	font-size: 1.875rem;
}

.content-cards .card .card--actions a {
	color: var(--brand-bright-blue, #00E);
}

.content-cards .card .card--actions a:hover {
	text-decoration: underline;
}

@media screen and (min-width: 900px) {
	.content-card-intro {
		padding: 0 0 2em 0;
	}
	.content-cards .card {
		margin: 4rem 1rem;
	}
	.content-cards[data-columns='2'] .card {
		flex: 1 1 calc(50% - 2rem);
	}
	.content-cards[data-columns='3'] .card {
		flex: 1 1 calc(33.33% - 2rem);
	}
	.content-cards[data-columns='4'] .card {
		flex: 1 1 calc(25% - 2rem);
	}
}
